<a [routerLink]="['/account/signup']">
  <div id="mainPageHeader" filter-color="orange" class="page-header">
    <div class="page-header-image rellax-header" *ngIf="data>=0 && data<=15"
      style="background-image: url('assets/img/radian/home_1.jpg');"></div>
    <div *ngIf="data>15 && data<=30" class="page-header-image rellax-header"
      style="background-image: url('assets/img/radian/home_2.jpg');"></div>
    <div *ngIf="data>30 && data<=45" class="page-header-image rellax-header"
      style="background-image: url('assets/img/radian/home_3.jpg');"></div>
    <div *ngIf="data>45 && data<=60" class="page-header-image rellax-header"
      style="background-image: url('assets/img/radian/home_4.jpg');"></div>
  </div>
</a>
<a class="prev " (click)="previous()">
  <svg xmlns="http://www.w3.org/2000/svg" width="56.898" height="91" viewBox="0 0 56.898 91">
    <path d="M45.5,0,91,56.9,48.452,24.068,0,56.9Z" transform="translate(0 91) rotate(-90)" fill="#fff" />
  </svg>
</a>
<a class="next" (click)="next()">
  <svg xmlns="http://www.w3.org/2000/svg" width="56.898" height="91" viewBox="0 0 56.898 91">
    <path d="M45.5,0,91,56.9,48.452,24.068,0,56.9Z" transform="translate(56.898) rotate(90)" fill="#fff" />
  </svg>
</a>
<div class="section section-about-us" style="background-color: #d8f0fe;">
  <div class="container">
    <div class="row" style="margin-top: 70px;">
      <div class="col-md-8 ml-auto mr-auto text-center">
        <!-- <div class="sign">
                    <span class="fast-flicker">New   platform  </span> <span class="flicker">to   connect   </span>   globally.......
                </div> -->
        <h2 class="title">New platform for Artists & Consumers
          <br />for a symbiotic commercial collaboration
        </h2>
      </div>
    </div>
    <div class="separator separator-primary"></div>
    <div class="row">
      <div class="col-md-12">
        <p class="description" style="text-align: center; margin-bottom: 65px">
          <b>Hunar provides space and exposure to multitude of art forms. <br />
            Consumers can seek talent and art while artists can upload their work and seek opportunities.</b>
        </p>
      </div>
    </div>
    <div class="row" style="margin-bottom: 20px">
      <table class="table table-striped table-hover">
        <thead>
          <tr>
            <th>Literary</th>
            <th>Visual</th>
            <th>Performing</th>
            <th>Technical</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Stories</td>
            <td>Photography</td>
            <td>Acting</td>
            <td>Camera</td>
          </tr>
          <tr>
            <td>Poems</td>
            <td>Painting</td>
            <td>Singing</td>
            <td>Sound</td>
          </tr>
          <tr>
            <td>Scripts</td>
            <td>Sketching</td>
            <td>Stand Up</td>
            <td>Graphic</td>
          </tr>
          <tr>
            <td>Lyrics</td>
            <td>Animation</td>
            <td>Dance</td>
            <td>Gaming</td>
          </tr>
          <tr>
            <td>Humor</td>
            <td>Conceptual</td>
            <td>Puppetry</td>
            <td>Presentations</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="row" style="margin-top: 30px; margin-bottom: 50px;">
      <div class="col-xs-8 col-sm-6 col-md-12 text-center">
        <a [routerLink]="['/search']" class="btn btn-primary btn-round">And Many More</a>
      </div>
    </div>
  </div>
</div>
<div class="section section-team text-center" style="background-color: #d3ffc0;">
  <div class="container">
    <div class="row" style="margin-top: 70px;">
      <div class="col-md-8 ml-auto mr-auto text-center">
        <h2 class="title">What's happening around me...</h2>
      </div>
    </div>
    <div class="separator separator-primary"></div>
    <div class="team custom-paragraph crousel-slider-custom">
      <div class="row" style="margin-top: 70px" [@inOutAnimation] data-rellax-speed="0"
        *ngFor="let item of radianUpdates">
        <div class="slick col-md-3" *ngFor="let child of item">
          <a [routerLink]="['/updates']">
            <div class="team-player">
              <img src="{{child.EventImages[0].Name}}" alt="" class="img-raised" title=""
                *ngIf="child.EventImages[0].IsImage==='image'">
              <a *ngIf="child.EventImages[0].IsImage==='pdf'">
                <img src="assets/img/radian/document.png" alt="" class="img-raised">
              </a>
              <div *ngIf="child.EventImages[0].IsImage==='video'" class="video">
                <img src="{{child.EventImages[0].Image}}">
                <a></a>
              </div>

              <h4 class="title">
                {{child.EventName}}
              </h4>
              <p class="category text-primary">
                {{ child.ModifiedDate | date: "MM/dd/yyyy hh:mm:ss" }}
              </p>
              <p class="custom-p" maxlength="100">{{child.EventSkill.name}} <br /><br />
                ​<b>- Read More -</b>
              </p>
            </div>
          </a>
        </div>
      </div>
      <div class="row" style="margin-top: 40px; margin-bottom: 60px;">
        <div class="col-xs-8 col-sm-6 col-md-12 text-center">
          <a [routerLink]="['/search']" class="btn btn-primary btn-round">Participate</a>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="section section-contact-us text-center" style="background-color: #fff1b8;">
  <div class="container">
    <div class="row" style="margin-top: 70px;">
      <div class="col-md-8 ml-auto mr-auto text-center">
        <h2 class="title">Don't just paint dreams, live them... <br />here at Hunar!</h2>
      </div>
    </div>
    <div class="separator separator-primary"></div>
    <p class="description">
      <b>This is a platform for every person looking to showcase their creativity, display their creative content or
        collaborate for opportunities.
        <br />Hunar is also open for all those individuals or businesses who are looking to use the content or hire the
        creative talent.
      </b>
    </p>
    <div class="row" style="margin-top: 20px; margin-bottom: 60px;">
      <div class="col-xs-8 col-sm-6 col-md-12 text-center">
        <a [routerLink]="['/account/signup']" class="btn btn-primary btn-round">Join Us</a>
      </div>
    </div>
  </div>
</div>