h2{
  font-family: 'Open Sans';
}
.reset-btn{
  background-color: #181F29;
  margin-right:10px;
}
.cursor-click{
  cursor: copy;
}
i{
  padding: 0px 0px 0px 7px;
  color: red;
  font-size: xx-large;
}
.errspan{
  float: right;
    margin-right: 6px;
    margin-top: -22px;
    position: relative;
    z-index: 2;
    color: red;
}
.a-click:hover{
  cursor: pointer;
}