<div id="mainPageHeader" filter-color="orange" class="page-header page-header-small">
  <div class="page-header-image rellax-header" data-rellax-speed="0"
    style="background-image: url('assets/img/radian/termsOfUse.jpg');"></div>
</div>
<div class="section section-team">
  <div class="container">
    <!-- <h2 class="title text-center">Terms of Use</h2>
    <div class="separator separator-primary" style="margin-bottom: 40px;"></div> -->
      <div class="row">
          <div class="col-md-12 card termsOfUse" >
            <p class="p-custom">
              This era of social media and digitization offers plethora of opportunities for artists like you, to showcase
              their work. But the variety of disparate platforms available today can be overwhelming and tiring to
              keep up with. One can upload a song here, a story there and a photograph everywhere! Everything you
              have uploaded is either timed or lost in the crowd. It can be time consuming and frustrating to track the
              likes and views and might take an eternity for any commercial success.
              While, as an art consumer, you are exhausted by the number of places, platforms and sites you have to
              rummage through to find the talent of your dreams! And you barely have time to go through the
              auditions or pitches coming your way!
              We understand the frustration that comes with this and that is the reason we came up with Radian.
            </p>
            <p class="p-custom">
              This era of social media and digitization offers plethora of opportunities for artists like you, to showcase
              their work. But the variety of disparate platforms available today can be overwhelming and tiring to
              keep up with. One can upload a song here, a story there and a photograph everywhere! Everything you
              have uploaded is either timed or lost in the crowd. It can be time consuming and frustrating to track the
              likes and views and might take an eternity for any commercial success.
              While, as an art consumer, you are exhausted by the number of places, platforms and sites you have to
              rummage through to find the talent of your dreams! And you barely have time to go through the
              auditions or pitches coming your way!
              We understand the frustration that comes with this and that is the reason we came up with Radian.
            </p>
            <p class="p-custom">
              This era of social media and digitization offers plethora of opportunities for artists like you, to showcase
              their work. But the variety of disparate platforms available today can be overwhelming and tiring to
              keep up with. One can upload a song here, a story there and a photograph everywhere! Everything you
              have uploaded is either timed or lost in the crowd. It can be time consuming and frustrating to track the
              likes and views and might take an eternity for any commercial success.
              While, as an art consumer, you are exhausted by the number of places, platforms and sites you have to
              rummage through to find the talent of your dreams! And you barely have time to go through the
              auditions or pitches coming your way!
              We understand the frustration that comes with this and that is the reason we came up with Radian.
            </p>
          </div>
      </div>
  </div>
</div>


