.termsOfUse{
  padding: 50px 40px;
  margin-top: 50px;
}
@media only screen and (max-width: 500px) {
  .page-header-image.rellax-header {
    background-position: unset !important;
  }
}
.p-custom-pp{
  font-size: 14px
}
.h5-custom{
  font-weight: 800;
}