<div id="mainPageHeader" filter-color="orange" class="page-header page-header-small">
  <div class="page-header-image rellax-header" data-rellax-speed="0">
    <img src="./assets/img/radian/inside_pages4.jpg">
  </div>
</div>
<div class="section section-team" style="background-color: #fac8a9;">
  <div class="container-fluid">
    <div class="row" style="margin-top: 70px;">
      <div class="col-md-8 ml-auto mr-auto text-center">
        <!-- <div class="sign">
                    <span class="fast-flicker">New   platform  </span> <span class="flicker">to   connect   </span>   globally.......
                </div> -->
        <h2 class="title">Hello Creativity,  meet Opportunity!</h2>
      </div>
    </div>
  </div>
</div>
<div class="section section-team" style="background:url('./assets/img/bg11.jpg')">
  <div class="container-fluid">
    <div class="row" style="margin-right: 0px; margin-left: 0px;">
      <div class="col-md-10">
        <p class="p-custom">
          You can get the global exposure, which was not possible anywhere before. You can launch yourself or expand
          your reach with the help of Hunar.
          Hunar gives you space and exposure to upload your written content, your visual art and audio or video
          pitches. Here, you can create events to showcase your talent or participate in others' events. The moment you
          come here, you start colaborating, creating and exploring variety of art forms. You begin your fulfilling and
          exciting journey to fame!
          At Hunar, our customers' vision is our prime goal. While we help your creative talent to get noticed by apt
          audiences, we strive for your commercial successful. We want our art consumers to invest their time in their
          projects rather than worrying about finding the right content or the talent.
        </p>
        <p class="p-custom">
          <em>'Don't think about making art, just get it done. Let everyone else decide if it's good or bad, whether
            they love it or hate it. While they are deciding, make even more art'</em>
        </p>
        <p class="p-custom" style="float: right; font-weight:700;"><em>- Andy Warhol</em></p>
      </div>
      <div class="col-md-2">
      </div>
    </div>
  </div>
</div>
