<div id="mainPageHeader" filter-color="orange" class="page-header">
  <div class="page-header-image rellax-header" data-rellax-speed="0">
    <img src="./assets/img/radian/inside_pages4.jpg">
  </div>
</div>
<div class="section section-team" style="background-color: #FFF;">
  <div class="container-fluid">
    <div class="row" style="margin-right: 0px; margin-left: 0px; margin-top: 70px; margin-bottom: 70px;">
      <div class="col-md-6">
        <img id="custom-img" src="./assets/img/radian/our-purpose-section-1.jpg">
      </div>
      <div class="col-md-6 custom-col">
        <h2 class="title">Hello Creativity,  meet Opportunity!</h2>
        <div class="separator separator-primary"></div>
        <p class="p-custom para-custom">
          We envision a world where every creative and artistic talent is approachable, visible and have a fair chance of being successful no matter where they come from - geographically, financially or socially. 
          We believe all this talent spread across is easily accesible to the businesses, institutions and individuals seeking creative talent, art or content. 
        </p>
        <p class="p-custom">
          This symbiotic collaboration between artists and consumers blooms into a legacy of  legendary projects, celebrities and creations for years to come.
        </p>
        <p class="p-custom">
          This is an open platform, which welcomes every form of art – visual, literary, performing, technical and so on. Artists, art aficionados and businesses that deal in this creative space can establish or enhance their identities, find each other, work with each other as well as seek support.
        </p>
      </div>
    </div>
  </div>
</div>
<div class="section section-team" style="background:url('./assets/img/home-section-01-bg.jpg')">
  <div class="container-fluid">
    <div class="row" style="margin-right: 0px; margin-left: 0px; margin-top: 70px; margin-bottom: 70px;">
      <div class="col-md-6">
        <img id="custom-img" src="./assets/img/radian/our-purpose-section-2.jpg">
      </div>
      <div class="col-md-6 custom-col">
        <h2 class="title">Targeted Audience is the first step towards commercial success</h2>
        <div class="separator separator-primary"></div>
        <p class="p-custom para-custom">
          This era of social media and digitalization offers plethora of opportunities for artists to showcase their work. The astonishing variety of platforms available today can be overwhelming and tiring to keep up with.        
        </p>
        <p class="p-custom">
          One can upload a song here, a story there and a photograph somewhere else! The content you upload is either timed or lost in the crowd. 
        </p>
        <p class="p-custom">
          It can be a daunting task to generate popularity for significant commercial success. An artist should not have to worry about marketing if the right audience has direct access to their work.
          On the other hand, businesses like production houses, publishers, agencies struggle to find quality content or talent for their projects. 
        </p>    
      </div>
    </div>
  </div>
</div>
<div class="section section-team" style="background-color: #FFF;">
  <div class="container-fluid">
    <div class="row" style="margin-right: 0px; margin-left: 0px; margin-top: 70px; margin-bottom: 70px;">
      <div class="col-md-6">
        <img id="custom-img" src="./assets/img/radian/our-purpose-section-3.jpg">
      </div>
      <div class="col-md-6 custom-col">
        <h2 class="title">Hunar means Talent and that is where we focus</h2>
        <div class="separator separator-primary"></div>
        <p class="p-custom para-custom">
          In today’s market, businesses have to rely on social media to discover a popular artist or adapt a traditional approach of referrals. 
          They host capital-intensive events for talent hunt or set up timed contests to get the fresh content, many a times with substandard results. 
        </p>
        <p class="p-custom">
          The reach of such events and contests is so limited due to many variables and dependencies in the process that fresh and genuine talent remains unexplored.
          
        </p>
        <p class="p-custom">
          This is where <b>Hunar</b> steps in.
        </p>
      </div>
      
    </div>
  </div>
</div>
<div class="section section-team" style="background:url('./assets/img/home-section-01-bg.jpg')">
  <div class="container-fluid">
    <div class="row" style="margin-right: 0px; margin-left: 0px; margin-top: 70px; margin-bottom: 70px;">
      <div class="col-md-6">
        <img id="custom-img" src="./assets/img/radian/our-purpose-section-4.jpg">
      </div>
      <div class="col-md-6 custom-col">
        <h2 class="title">Explore. Immerse. Emerge!</h2>
        <div class="separator separator-primary"></div>
        <p class="p-custom para-custom">
          An open platform, which welcomes every form of art – visual, literary, performing, technical and so on. 
          Artists, art aficionados and businesses that deal in this creative space can establish or enhance their identities, find each other, work with each other as well as seek support.
        </p>
        <p class="p-custom">
          Easy and simple features like create profile, portfolios and events allow the users a hassle free experience where they can begin focusing on their creative projects and let us help with the marketing and mundane tasks. 
          A fast track to commercial success, Hunar welcomes you to the art possibilities!  
        </p>
        <p class="p-custom">
          Hunar provides a platform to the artists and the consumers to collaborate and create success.
        </p>
      </div>
    </div>
  </div>
</div>
