<div class="section section-team">
    <div class="container">
        <div class="row">
            <div class="col-md-12 card">
                <!-- <h2 class="title text-center">Reset Password</h2> -->
                <form name="resetPasswordForm" class="resetPasswordForm" [formGroup]="resetPasswordFormGroup">
                    <div class="content" style="padding:42px 10px 0px 10px;">
                        <div class="row"
                            *ngIf="resetPasswordForm.Email.errors && (resetPasswordForm.Email.dirty || resetPasswordForm.Email.touched)">
                            <div class="col-md-12">
                                <app-required-validation-message [fieldName]="'Email'"
                                    *ngIf="resetPasswordForm.Email.errors.required">
                                </app-required-validation-message>
                                <app-format-validation-message [fieldName]="'Email'"
                                    *ngIf="resetPasswordForm.Email.errors?.pattern">
                                </app-format-validation-message>
                            </div>
                        </div>
                        <div class="input-group input-lg">
                            <input type="text" class="signUp-form-control form-control" placeholder="Email..."
                             formControlName="Email">
                        </div>
                
                        <div class="row"
                            *ngIf="resetPasswordForm.Password.errors && (resetPasswordForm.Password.dirty || resetPasswordForm.Password.touched)">
                            <div class="col-md-12">
                                <app-required-validation-message [fieldName]="'Password'"
                                    *ngIf="resetPasswordForm.Password.errors.required">
                                </app-required-validation-message>
                                <app-format-validation-message [fieldName]="'Password'"
                                    *ngIf="resetPasswordForm.Password.errors?.pattern ">
                                </app-format-validation-message>
                            </div>
                        </div>
                        <div class="input-group input-lg">
                            <input type="password" placeholder="Password..." class="signUp-form-control form-control"
                                formControlName="Password" />
                        </div>
                
                        <div class="row"
                            *ngIf="resetPasswordForm.ConfirmPassword.errors && (resetPasswordForm.ConfirmPassword.dirty || resetPasswordForm.ConfirmPassword.touched)">
                            <div class="col-md-12">
                                <app-required-validation-message [fieldName]="'Confirm Password'"
                                    *ngIf="resetPasswordForm.ConfirmPassword.errors.required">
                                </app-required-validation-message>
                                <app-notmatched-validation-message [fieldName]="'Confirm Password'"
                                    *ngIf="resetPasswordForm.Password.value!==resetPasswordForm.ConfirmPassword.value">
                                </app-notmatched-validation-message>
                            </div>
                        </div>
                        <div class="input-group input-lg">
                            <input type="password" class="signUp-form-control form-control" 
                            placeholder="Confirm Passowrd..."
                                formControlName="ConfirmPassword">
                        </div>
                    </div>
                    <div class="text-center">
                        <button class="btn btn-primary btn-round"  (click)="onSubmit()">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

