// form.forgetPasswordForm{
//     height: 246px !important;
//     overflow-y: scroll !important;
//     background: linear-gradient(0deg, rgba(44, 44, 44, 0.6), black);
//     text-align: left !important;
//     padding: 17px;
//   }

.page-header {
    height: 61vh !important;
    max-height: 335px;
    padding: 0;
    // color: #FFFFFF;
    // position: relative;
    // background-position: center center;
    // background-size: cover;
}
h4 {
    font-size: 2em;
}
.signUp-form-control{
  margin-bottom: 20px !important;
  border: 0px !important;
  background: #333333 !important;
  color: #FFFFFF !important;
}
