<div class="page-header" appBlockCopy>
    <div class="container">
        <div class="col-md-4 content-center">
            <div class="card card-login card-plain">
                <form name="forgetPasswordForm" class="form" [formGroup]="forgetPasswordFormGroup">
                    <div class="title">
                        <h4>Forgot Password</h4>
                    </div><br/>
                    <div class="content">
                        <div class="row"
                            *ngIf="forgetPasswordForm.Email.errors && (forgetPasswordForm.Email.dirty || forgetPasswordForm.Email.touched)">
                            <div class="col-md-12">
                                <app-required-validation-message [fieldName]="'Email'"
                                    *ngIf="forgetPasswordForm.Email.errors.required">
                                </app-required-validation-message>
                                <app-format-validation-message [fieldName]="'Email'"
                                    *ngIf="forgetPasswordForm.Email.errors?.pattern">
                                </app-format-validation-message>
                            </div>
                        </div>
                        <div class="input-group input-lg">
                            <input type="text" class="signUp-form-control form-control" placeholder="Email Id*" formControlName="Email">
                        </div>
                    </div>
                    <div class="text-center">
                        <button class="btn btn-primary btn-round" (click)="onSubmit()">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
