<div class="wrapper" appBlockCopy>
    <div class="page-header page-header-small" filter-color="orange">
        <div class="page-header-image rellax-header" data-rellax-speed="0">
            <img *ngIf="currentUser?.CoverPicture!==null" src="{{coverImagePath}}">
            <img *ngIf="currentUser?.CoverPicture===null" src="./assets/img/default-cover-picture.jpg">
        </div>
        <div class="container">
            <div class="content-center">
                <div class="photo-container">
                    <img *ngIf="currentUser?.ProfilePicture!==null" src="{{profileImagePath}}" alt="">
                    <img *ngIf="currentUser?.ProfilePicture===null" src="./assets/img/default-avatar.png" alt="">
                </div>
                <!-- <h3 class="title">Ryan Scheinder</h3>
                <p class="category">Photographer</p> -->
                <!-- <div class="content">
                    <div class="social-description">
                        <h2>26</h2>
                        <p>Comments</p>
                    </div>
                    <div class="social-description">
                        <h2>26</h2>
                        <p>Comments</p>
                    </div>
                    <div class="social-description">
                        <h2>48</h2>
                        <p>Bookmarks</p>
                    </div>
                </div> -->
            </div>
        </div>
    </div>
    <div class="section">
        <router-outlet></router-outlet>
    </div>
</div>
