<div class="container-fluid">
    <h2 class="title" style="text-align: center">My Account</h2>
    <div class="separator separator-primary" style="margin-bottom: 20px;"></div>
    <div class="row">
        <div class="col-md-1">
        </div>

        <div class="col-md-10">
            <div class="row card portfolio">
                <div class="col-md-12 custom-event">
                    <div class="container-fluid">
                        <h2>{{label}} Subscription</h2>
                        <div class="portfolio-label" *ngIf="loggedUser.userRenewDate!==null">Renew On {{loggedUser.userRenewDate| date:'MMM d, y'}}</div>
                    </div>
                </div>
            </div>
            <div class="row card portfolio">
                <div class="col-md-12 custom-event">
                    <form class="form mb-search" name="upgradeMembershipCategoryFormGroup" [formGroup]="upgradeMembershipCategoryFormGroup">
                        <div class="container-fluid">
                            <h4>Upgrade Membership Category</h4>
                            <div class="row">
                                <div class="card-register-membership custom-set"  [ngClass]="membershipData.length>1 ? 'col-md-4' : 'col-md-12 db-center'"
                                *ngFor="let item of membershipData;let i=index;">
                                    <input #radioBtn id="radio{{i}}" type="radio" formControlName="memberShip" value="{{item.Id}}" 
                                    (change)="onSelectMembership($event,item)">
                                    <label class="form-check-label card-label" for="radio{{i}}">
                                        <h4>{{item.name}}</h4>
                                        <h5>{{item.currency}} {{item.amount}}</h5><br />
                                        <h6 class="cstm-h6" *ngFor="let propItem of item.properties">{{propItem}}</h6>
                                        <span class="form-check-sign"></span>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="row mt-top">
                    <div class="col-md-12 flt-right">
                      <button class="btn btn-primary btn-round btn-margin" (click)="onSubmit()">Change Plan & Pay</button>&nbsp;
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-1">
        </div>
    </div>
</div>