<div class="wrapper">
    <a [routerLink]="['/account/signup']">
        <div class="page-header page-header-small" filter-color="orange">
            <div class="page-header-image rellax-header custom-cover" data-rellax-speed="0">
                <img src="{{memberDetail.CoverPicture}}" alt="">
            </div>
            <div class="container">
                <div class="content-center">
                    <div class="photo-container custom-container">
                        <img src="{{memberDetail.ProfilePicture}}" alt="">
                    </div>
                </div>
            </div>
        </div>
    </a>
    <div class="section section-team" style="background: url('./assets/img/home-section-01-bg.jpg')">
        <div class="container-fluid">
            <!-- <h2 class="title">How It Works</h2> -->
            <div class="team custom-paragraph">
                <h2 class="title" style="text-align: center">{{memberDetail.ProfileName}}</h2>
                <div class="separator separator-primary"></div>
                <div class="row" style="margin-right: 0px; margin-left: 0px;">
                    <div class="col-md-6">
                        {{memberDetail.ProfileAddress?.country}}
                    </div>
                    <div class="col-md-6 custom-align">
                        <table>
                            <tr>
                                <td>
                                    <div class="custom-like">{{memberDetail.LikeCount}}&nbsp;&nbsp;</div>
                                </td>
                                <td *ngIf="radianLikeData.UserId!==''">
                                    <a class="a-btn a-click" (click)="likeRadianEvent(true,memberDetail)"
                                        *ngIf="!UserLiked">
                                        <img src="./assets/img/radian/like-icon.png">
                                    </a>
                                    <a class="a-btn a-click" (click)="likeRadianEvent(false,memberDetail)"
                                        *ngIf="UserLiked">
                                        <img src="./assets/img/radian/like-icon-filled.png">
                                    </a>
                                    <a class="a-btn a-click" (click)="getShareLink()"><i
                                            class="fa fa-share custom-icon"></i></a>
                                </td>
                                <td *ngIf="radianLikeData.UserId===''">
                                    <a class="a-btn" *ngIf="memberDetail.LikeCount==='0'">
                                        <img src="./assets/img/radian/like-icon.png">
                                    </a>
                                    <a class="a-btn" *ngIf="memberDetail.LikeCount!=='0'">
                                        <img src="./assets/img/radian/like-icon-filled.png">
                                    </a>
                                    <span><i class="fa fa-share custom-icon"></i></span>
                                </td>
                            </tr>
                        </table>

                    </div>
                </div>
                <div class="row" style="margin-right: 0px; margin-left: 0px;">
                    <div class="col-md-12">
                        <div class="row">
                            <!-- <div class="col-md-2">
                            <div class="portfolio-label">About Profile</div>
                        </div> -->
                            <div class="col-md-12 custom-editor">
                                <angular-editor [attr.disabled]="true" [(ngModel)]="memberDetail.ProfileDescription"
                                    [config]="config">
                                </angular-editor>
                                <!-- <p class="text-primary">{{memberDetail.ProfileDescription}}</p> -->
                            </div>
                        </div><br />
                        <div class="row">
                            <div class="col-md-3">
                                <div class="portfolio-label">Specialities / Interests</div>
                            </div>
                            <div class="col-md-9">
                                <!-- <input type="text" class="form-control" [value]="memberDetail.ProfileSkills.name" disabled="true"><br/>
                            <div class="pretty p-switch p-fill" *ngFor="let elem of memberDetail.ProfileExpertise;let i=index;">
                                <input type="radio" disabled="true" checked value="true"/>
                                <div class="state p-success  p-fill">
                                    <label>{{elem.name}}</label>
                                </div>
                            </div> -->
                            <p class="p-skill">
                              <label *ngFor="let child of memberDetail.ProfileExpertise;let i = index">
                                <span *ngIf="i<memberDetail.ProfileExpertise.length-1">{{child.name}},</span>
                                <span *ngIf="i===memberDetail.ProfileExpertise.length-1">{{child.name}}</span>
                              </label>
                            </p>
                            </div>
                        </div><br />
                        <div class="row" *ngIf="memberDetail.isAddressShown==='true'">
                            <div class="col-md-3">
                                <div class="portfolio-label">Location</div>
                            </div>
                            <div class="col-md-9">
                                <p class=" text-primary">{{memberDetail.ProfileAddress.street}},
                                    {{memberDetail.ProfileAddress.city}}, {{memberDetail.ProfileAddress.state}} -
                                    {{memberDetail.ProfileAddress.zip}}</p>
                            </div>
                        </div><br />
                        <div class="row" *ngIf="memberDetail.isMailingAddressShown==='true'">
                            <div class="col-md-3">
                                <div class="portfolio-label">Full Name</div>
                            </div>
                            <div class="col-md-9">
                                <p class=" text-primary">{{memberDetail.FirstName}} {{memberDetail.LastName}}</p>
                            </div>
                        </div><br />
                        <div class="row" *ngIf="memberDetail.isMailingAddressShown==='true'">
                            <div class="col-md-3">
                                <div class="portfolio-label">Email Id</div>
                            </div>
                            <div class="col-md-9">
                                <p class=" text-primary">{{memberDetail.Email}}</p>
                            </div>
                        </div><br />
                        <div class="row" *ngIf="memberDetail.isMailingAddressShown==='true'">
                            <div class="col-md-3">
                                <div class="portfolio-label">Contact Details</div>
                            </div>
                            <div class="col-md-9">
                                <p class=" text-primary">
                                    {{memberDetail.ContactDetails.phoneCode}}-{{memberDetail.ContactDetails.phone}} /
                                    +{{memberDetail.ContactDetails.cellCode}}-{{memberDetail.ContactDetails.cell}}</p>
                            </div>
                        </div><br />
                        <div class="row" *ngIf="memberDetail.isMailingAddressShown==='true'">
                            <div class="col-md-3">
                                <div class="portfolio-label">Portfolio</div>
                            </div>
                            <div class="col-md-9">
                                <p class="p-skill"><a
                                        (click)="getPortfolioDetail()">{{memberDetail.ProfilePortfolio.name}}</a></p>
                            </div>
                        </div><br />
                        <div class="row" style="margin-bottom: 20px">
                            <div class="col-md-12 portfolio-label">Events</div>
                        </div>
                        <div class="row" style="margin-bottom: 20px">
                            <div class="col-md-12">
                                <table class="table table-striped table-hover">
                                    <thead>
                                        <tr>
                                            <th>Event Name</th>
                                            <th width=60%>Event Description</th>
                                            <!-- <th>Event Catagories</th> -->
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let item of memberEvents">
                                            <td width=20%><a class="evt-name" (click)="getItemDetail(item)">
                                                    {{item.EventName}}</a></td>
                                            <td width=100% class="evt-detail">
                                                <angular-editor [attr.disabled]="true"
                                                    [(ngModel)]="item.EventDescription" [config]="config"
                                                    disabled="true">
                                                </angular-editor>
                                            </td>
                                            <!-- <td>
                                                <tr *ngFor="let cat of item.EventCategories">
                                                    <td>{{cat.name}}</td>
                                                </tr>
                                            </td> -->
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div><br/>
                        <div class="row" style="margin-bottom: 20px">
                            <div class="col-md-12 portfolio-label">Related Profiles</div>
                        </div>
                        <div class="row" style="margin-bottom: 20px">
                            <div class="col-md-12">
                                <table class="table table-striped table-hover">
                                    <thead>
                                        <tr>
                                            <th>Profile Name</th>
                                            <th width=100%>Description</th>
                                            <!-- <th>Event Catagories</th> -->
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let item of memberProfiles">
                                            <td width=20%><a class="evt-name"
                                                    (click)="getProfileItemDetail(item)">{{item.ProfileName}}</a></td>
                                            <td width=100% class="evt-detail">
                                                <angular-editor [attr.disabled]="true"
                                                    [(ngModel)]="item.ProfileDescription" [config]="config"
                                                    disabled="true">
                                                </angular-editor>
                                            </td>

                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
