.row.card.portfolio{
    margin-top:28px;
}
.mt-top{
    margin-bottom: 18px;
}
.portfolio-label{
  margin-bottom: 10px;
}
.custom-label{
    margin-top:5px
}
// .custom-photo-container img {
//   width: 150px;
//   height: 150px;
//   box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.3);
//   max-height: 150px;
//   max-width: 150px;
//   margin-bottom: 11px;
//   min-height: 150px;
//   min-width: 150px;
// }
.custom-btn{
  margin-top: 0;
}


h2{
  margin-top:0px !important;
}

h4{
  font-family:'Open Sans' !important;
  font-size: 15px;
  font-weight: 700;;
}


.reset-btn{
  background-color: #181F29;
  margin-right:10px;
}

.signUp-form-control{
  margin-bottom: 10px !important;
  border: 1px solid #2F3C4F !important;
  background: #ffffff !important;
  color: #181F29 !important;
}

.form-control:focus{
  border: 2px solid #4AA0FF !important;
  box-shadow: 0px 0px 2px 0px #4AA0FF !important;
}

::placeholder{
  color: #181F29;
  opacity: 0.7;
}



