.row.card.portfolio{
    margin-top:28px;
}

h2{
    margin-top: 0px !important;
  }
  
  h4{
    font-family:'Open Sans' !important;
    font-size: 15px;
    font-weight: 700;;
  }
  
  .reset-btn{
    background-color: #181F29;
    margin-right:10px;
  }

  .last-acc{
    font-family: 'Open Sans' !important;
  }