<a>
  <div id="mainPageHeader" filter-color="orange" class="page-header">
    <div class="page-header-image rellax-header" data-rellax-speed="0">
      <img src="./assets/img/radian/inside_pages5.jpg">
    </div>
  </div>
</a>
<div class="section section-team">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-4">
        <form class="form radian-update-search" name="searchRadianUpdatesForm"
          [formGroup]="searchRadianUpdatesFormGroup">
          <div class="row card mb-search">
            <div class="col-md-12">
              <div class="row">
                <div class="col-md-12">
                  <label class="lbl-custom">Search Events</label>
                  <div class="row">
                    <div class="col-md-9">
                      <div class="input-group">
                        <input type="text" class="signUp-form-control form-control mt-top custom-input mat-expansion-panel"
                          placeholder="" formControlName="SearchByText">
                      </div>
                    </div>
                    <div class="col-md-2 custom-pd">
                      <button mat-button class="btn btn-danger mt-top btn-lg"
                        [disabled]="!searchRadianUpdatesFormGroup.valid" (click)="onSubmit(0)">Search</button>
                    </div>
                  </div>
                  <hr/>
                  <label class="lbl-custom">Search By Category</label>
                  <div class="row">
                    <div class="col-md-12">
                      <select class="select-css" placeholder="Skill/Art" formControlName="SearchBySkillCategory"
                        (change)="getSKillSubCategory($event.target.value)">
                        <option value="" [selected]="true">Select</option>
                        <option *ngFor="let item of skills" value="{{item.radianSkillCategoryId}}">
                          {{item.radianSkillCategoryName}}
                        </option>
                      </select>
                    </div>
                  </div>
                  <br/>
                  <div class="row">
                    <div class="col-md-12">
                      <div class="pretty p-switch p-fill" *ngFor="let item of skillsSubcategory;let i=index;">
                        <input type="checkbox" name="switch{{i}}" (change)="onSelectExperties($event,item)" />
                        <div class="state p-success">
                          <label>{{item.subCategoryName}}</label>
                        </div>
                      </div>
                    </div>
                  </div>
                  <br/>
                  <!--<mat-accordion>
                    <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                      <mat-expansion-panel-header>
                        <mat-panel-title>
                          Advance Search
                        </mat-panel-title>
                        <mat-panel-description>
                                                    Skills categories
                                                </mat-panel-description> -->
                      <!-- </mat-expansion-panel-header>
                      <div class="row">
                        <div class="col-md-3">
                          <select class="select-css" placeholder="Skill/Art" formControlName="SearchBySkillCategory"
                            (change)="getSKillSubCategory($event.target.value)">
                            <option value="" [selected]="true">-- Category of Art --</option>
                            <option *ngFor="let item of skills" value="{{item.radianSkillCategoryId}}">
                              {{item.radianSkillCategoryName}}
                            </option>
                          </select>
                        </div>
                        <div class="col-md-9">
                          <div class="pretty p-switch p-fill" *ngFor="let item of skillsSubcategory;let i=index;">
                            <input type="checkbox" name="switch{{i}}" (change)="onSelectExperties($event,item)" />
                            <div class="state p-success">
                              <label>{{item.subCategoryName}}</label>
                            </div>
                          </div>
                        </div>
                      </div>
                    </mat-expansion-panel>
                  </mat-accordion> -->
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="col-md-7">
        <div class="row card portfolio mb-search" *ngIf="radianUpdates?.length===0">
          <div clas="col-md-12" style="text-align:center;">
            <h4>No results found...</h4>
          </div>
        </div>
        <div class="row card portfolio mb-search" *ngFor="let item of radianUpdates">
          <div class="row">
            <div class="col-md-12" *ngIf="radianUpdates?.length!==0">
              <div class="row">
                <div class="col-md-1">
                  <img src="{{item.ProfilePicture}}" alt="Thumbnail Image"
                                            class="rounded img-fluid img-raised">
                </div>
                <div class="col-md-11 custom-col">
                  <span class="title mem-title"><a (click)="GetRadianDetail(item)">{{item.FirstName}} {{item.LastName}}</a> has created an event 
                    <a (click)="GetRadianDetail(item)">{{item.EventName}}</a></span>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12 custom-editor">
                  <textarea class="custom-angular-editor" [attr.disabled]="true"
                    [(ngModel)]="item.EventDescription" >
                  </textarea>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6 ">
                  <p class="p-skill"><span><strong>Event Category :</strong></span>
                    <label>{{item.EventSkill.name}}</label>
                  </p>
                </div>
                <div class="col-md-6 custom-col-6">
                  <p class="p-skill"><span><strong>Skills :</strong></span>
                    <label *ngFor="let child of item.EventCategories;let i = index">
                      <span *ngIf="i<item.EventCategories.length-1">{{child.name}},</span>
                      <span *ngIf="i===item.EventCategories.length-1">{{child.name}}</span>
                    </label>
                  </p>
                </div>
              </div>
              <hr/>
              <div class="row custom-row-like">
                <div class="col-md-12">
                  <div class="row custom-row-like">
                    <div class="col-md-1 custom-col-for-like">
                      <a class="a-btn a-click">
                        <img src="./assets/img/radian/like-icon-filled.png">
                      </a>
                    </div>
                    <div class="col-md-1 custom-col-for-like ">
                      <label class="like-count-text">{{item.LikeCount}}</label>
                    </div>
                  </div>
                </div>
              </div>
              <hr/>
              <div class="row custom-row-like">
                <div class="col-md-3">
                  <div class="row custom-row-like custom-row-for-marking-like">
                    <div class="col-md-1 custom-col-for-like">
                      <a class="a-btn a-click" (click)="likeRadianEvent(true,item)" *ngIf="item.isUserLiked==='0'">
                        <img src="./assets/img/radian/like-icon.png">
                      </a>
                      <a class="a-btn a-click" (click)="likeRadianEvent(false,item)" *ngIf="item.isUserLiked!=='0'">
                        <img src="./assets/img/radian/like-icon-filled.png">
                      </a>
                    </div>
                    <div class="col-md-1 custom-col-for-like ">
                      <label class="like-count-text">Like</label>
                    </div>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="row custom-row-like custom-row-for-marking-like">
                    <div class="col-md-1 custom-col-for-like">
                      <a class="a-btn a-click" (click)="getShareLink(item)">
                        <img class="custom-margin-icon" src="./assets/img/radian/shareIcon.png">
                      </a>
                    </div>
                    <div class="col-md-1 custom-col-for-like">
                      <label class="like-count-text">Share</label>
                    </div>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="row custom-row-like custom-row-for-marking-like">
                    <div class="col-md-1 custom-col-for-like">
                      <a class="a-btn a-click">
                        <img class="custom-margin-icon"src="./assets/img/radian/comment-icon.png">
                      </a>
                    </div>
                    <div class="col-md-1 custom-col-for-like ">
                      <label class="like-count-text">Comment</label>
                    </div>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="row custom-row-like custom-row-for-marking-like">
                    <div class="col-md-1 custom-col-for-like">
                      <a class="a-btn">
                        <img *ngIf="!item.EventStatus" title="In-Active" src="./assets/img/radian/inActiveIcon.png">
                        <img *ngIf="item.EventStatus" title="Active" src="./assets/img/radian/activeIcon.png">
                      </a>
                    </div>
                    <div class="col-md-1 custom-col-for-like ">
                      <label *ngIf="!item.EventStatus" class="like-count-text">Inactive</label>
                      <label *ngIf="item.EventStatus" class="like-count-text">Active</label>
                    </div>
                  </div>
                </div>
                <!--<div class="col-md-2 custom-align">
                  <div>
                    <table>
                      <tr>
                        <td>
                          <div class="custom-like">{{item.LikeCount}}&nbsp;
                          </div>
                        </td>
                        <td *ngIf="radianLikeData.UserId!==''">
                          <a class="a-btn a-click" (click)="likeRadianEvent(true,item)" *ngIf="item.isUserLiked==='0'">
                            <img src="./assets/img/radian/like-icon.png">
                          </a>&nbsp;&nbsp; <label>Like</label>
                          <a class="a-btn a-click" (click)="likeRadianEvent(false,item)" *ngIf="item.isUserLiked!=='0'">
                            <img src="./assets/img/radian/like-icon-filled.png">
                          </a>
                        </td>
                        <td *ngIf="radianLikeData.UserId!==''">
                          <a class="a-btn a-click" (click)="getShareLink()"><i class="fa fa-share custom-icon"></i></a>
                        </td>
                        <td *ngIf="radianLikeData.UserId===''">
                          <a class="a-btn" *ngIf="item.LikeCount==='0'">
                            <img src="./assets/img/radian/like-icon.png">
                          </a>
                          <a class="a-btn" *ngIf="item.LikeCount!=='0'">
                            <img src="./assets/img/radian/like-icon-filled.png">
                          </a>
                        </td>
                        <td *ngIf="radianLikeData.UserId===''">
                          <a class="a-btn"><i class="fa fa-share custom-icon"></i></a>
                        </td>
                        <td>
                          <a class="a-btn">
                            <img *ngIf="!item.EventStatus" title="In-Active" src="./assets/img/radian/inActiveIcon.png">
                            <img *ngIf="item.EventStatus" title="Active" src="./assets/img/radian/activeIcon.png">
                          </a>
                        </td>
                      </tr>
                    </table>
                  </div>
                </div>-->
              </div>
            </div>
          </div>
        </div>
        <div class="row" *ngIf="showLoadMore">
          <div class="col-md-12">
            <button mat-button class="btn btn-danger mt-top btn-lg btn-ft-right"
              (click)="onSubmit(radianUpdates?.length)">Load More..</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>