.custom-desc{
    margin-top: 16px;
}
.custom-cover img{
    max-height: 400px;
    min-height: auto;
    height: inherit;
    width: inherit;
  }
  .angular-editor-textarea {
      padding:unset !important;
  }