<div id="mainPageHeader" filter-color="orange" class="page-header page-header-small">
  <div class="page-header-image rellax-header" data-rellax-speed="0">
    <img src="./assets/img/radian/inside_pages3.jpg">
  </div>
</div>
<div class="section section-team" style="background:url('./assets/img/home-section-01-bg.jpg')">
  <div class="container-fluid">
      <div class="row" style="margin-right: 0px; margin-left: 0px;">
          <div class="col-md-10">
              <h2 class="title" style="text-align: center">Vision</h2>
              <div class="separator separator-primary" style="margin-bottom: 50px;"></div>
              <p class="p-custom">
                Our vision is to build a world where every creative and artistic talent should be approachable, visible and have a chance to be successful no matter who they are in which corner of the world they are!
              </p>
          </div>
          <div class="col-md-2">
          </div>
      </div>
  </div>
</div>
<div class="section section-team" style="background:url('./assets/img/bg11.jpg')">
<div class="container-fluid">
  <div class="row" style="margin-right: 0px; margin-left: 0px;">
    <div class="col-md-10">
      <h2 class="title" style="text-align: center;">Mission</h2>
      <div class="separator separator-primary" style="margin-bottom: 50px;"></div>
      <p class="p-custom">
        Our mission is to create a single platform of an Art Fraternity where the artists meet the art consumers for a commercially successful collaboration. This platform will host every kind of creative talent for all those who are seeking to engage such talent in their projects, events or companies.
      </p>
    </div>
  <div class="col-md-2">
  </div>
</div>
</div>
</div>
