/* my-loader.component.css */
.loading-spinner{    
    background-color: #111111;
    position: fixed;
    width: 100%;
    top: 0px;
    left: 0px;
    height: 100%;
    align-items: center;
    justify-content: center;
    display: grid;
    opacity: 0.9;
}

.loading-spinner img{
    align-self: end;
}

.loading-message{
    text-align: center;
    align-self: start;
    color: #ffffff;
}