<div id="mainPageHeader" filter-color="orange" class="page-header page-header-small">
    <div class="page-header-image rellax-header" data-rellax-speed="0"
      style="background-image: url('assets/img/rd_bg10.jpg');"></div>
  </div>
<div class="section section-team text-center">
    <div class="container-fluid">
        <h2 class="title">About Us</h2>
        <div class="team custom-paragraph card">
            <div class="col-md-10">
                <p>
                    This era of social media and digitization offers plethora of opportunities for artists like you, to showcase their work. But the variety of disparate platforms available today can be overwhelming and tiring to keep up with. One can upload a song here, a story there and a photograph everywhere! Everything you have uploaded is either timed or lost in the crowd. It can be time consuming and frustrating to track the likes and views and might take an eternity for any commercial success.
                    ​
                    While, as an art consumer, you are exhausted by the number of places, platforms and sites you have to rummage through to find the talent of your dreams! And you barely have time to go through the auditions or pitches coming your way!
                </p>
                <p>
                    This era of social media and digitization offers plethora of opportunities for artists like you, to showcase their work. But the variety of disparate platforms available today can be overwhelming and tiring to keep up with. One can upload a song here, a story there and a photograph everywhere! Everything you have uploaded is either timed or lost in the crowd. It can be time consuming and frustrating to track the likes and views and might take an eternity for any commercial success.
                    ​
                    While, as an art consumer, you are exhausted by the number of places, platforms and sites you have to rummage through to find the talent of your dreams! And you barely have time to go through the auditions or pitches coming your way!
                </p>
            </div>
            <div class="col-md-2"></div>
        </div>
    </div>
</div>
