<a [routerLink]="['/account/signup']">
    <div id="mainPageHeader" filter-color="orange" class="page-header">
        <div class="page-header-image rellax-header" data-rellax-speed="0">
            <img src="./assets/img/radian/inside_pages_2.jpg">
        </div>
    </div>
</a>
<div class="section section-team" >
    <div class="container-fluid">
        <div class="col-md-8 ml-auto mr-auto text-center">
            <!-- <div class="sign">
                        <span class="fast-flicker">New   platform  </span> <span class="flicker">to   connect   </span>   globally.......
                    </div> -->
            <h2 class="title">Hunar for Consumers / Buyers
            </h2>
        </div>
        <div class="separator separator-primary"></div>
        <div class="row custom-row">
            <div class="col-md-12">
                <div class="main-timeline10">
                    <div class="col-md-2 col-sm-4 timeline">
                        <div class="timeline-inner">
                            <div class="year">Profiles</div>
                            <div class="timeline-content">
                                <div class="post">Register</div>
                                <p class="description">
                                    Register as a Business User. Create Profile and Set Preferences
                                </p>
                            </div>
                            <div class="timeline-icon">
                                <i class="fa fa-user"></i>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-4 timeline">
                        <div class="timeline-inner">
                            <div class="year">Portfolios</div>
                            <div class="timeline-content">
                                <div class="post">Create</div>
                                <p class="description">
                                    Create one or multiple Buisness Portfolios
                                </p>
                            </div>
                            <div class="timeline-icon">
                                <i class="fa fa-suitcase"></i>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-4 timeline">
                        <div class="timeline-inner">
                            <div class="year">Events</div>
                            <div class="timeline-content">
                                <div class="post">Collaborate</div>
                                <p class="description">
                                    Create and Manage Events or Projects
                                </p>
                            </div>
                            <div class="timeline-icon">
                                <i class="fa fa-podcast"></i>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-4 timeline">
                        <div class="timeline-inner">
                            <div class="year">Notifications</div>
                            <div class="timeline-content">
                                <div class="post">Receive</div>
                                <p class="description">
                                    Get notifications & pitches from Artists
                                </p>
                            </div>
                            <div class="timeline-icon">
                                <i class="fa fa-bell"></i>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-4 timeline">
                        <div class="timeline-inner">
                            <div class="year">Talent</div>
                            <div class="timeline-content">
                                <div class="post">Search</div>
                                <p class="description">
                                    Search for Talent through various available option / filters
                                </p>
                            </div>
                            <div class="timeline-icon">
                                <i class="fa fa-star"></i>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-4 timeline">
                        <div class="timeline-inner">
                            <div class="year">Browse</div>
                            <div class="timeline-content">
                                <div class="post">View</div>
                                <p class="description">
                                    Browse Profiles and Portfolios of Artists
                                </p>
                            </div>
                            <div class="timeline-icon">
                                <i class="fa fa-search"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<div class="section section-team">
    <div class="container-fluid">
        <div class="col-md-8 ml-auto mr-auto text-center">
            <!-- <div class="sign">
                        <span class="fast-flicker">New   platform  </span> <span class="flicker">to   connect   </span>   globally.......
                    </div> -->
            <h2 class="title">Hunar for Artists / Sellers
            </h2>
        </div>
        <div class="separator separator-primary"></div>
        <div class="row custom-row">
            <div class="col-md-12">
                <div class="main-timeline10">
                    <div class="col-md-2 col-sm-4 timeline">
                        <div class="timeline-inner">
                            <div class="year">Profiles</div>
                            <div class="timeline-content">
                                <div class="post">Register</div>
                                <p class="description">
                                    Register as an Individual User. Create Profile and Set Preferences
                                </p>
                            </div>
                            <div class="timeline-icon">
                                <i class="fa fa-user"></i>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-4 timeline">
                        <div class="timeline-inner">
                            <div class="year">Portfolios</div>
                            <div class="timeline-content">
                                <div class="post">Create</div>
                                <p class="description">
                                    Create primary skill Portfolio and upload content
                                </p>
                            </div>
                            <div class="timeline-icon">
                                <i class="fa fa-suitcase"></i>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-4 timeline">
                        <div class="timeline-inner">
                            <div class="year">Events</div>
                            <div class="timeline-content">
                                <div class="post">Collaborate</div>
                                <p class="description">
                                    Browse ongoing events. Show interest or pitch for it
                                </p>
                            </div>
                            <div class="timeline-icon">
                                <i class="fa fa-podcast"></i>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-4 timeline">
                        <div class="timeline-inner">
                            <div class="year">Notifications</div>
                            <div class="timeline-content">
                                <div class="post">Receive</div>
                                <p class="description">
                                    Receive notifications for the event pitch
                                </p>
                            </div>
                            <div class="timeline-icon">
                                <i class="fa fa-bell"></i>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-4 timeline">
                        <div class="timeline-inner">
                            <div class="year">Members</div>
                            <div class="timeline-content">
                                <div class="post">Search</div>
                                <p class="description">
                                    Search members, email, message, chat, rate, review
                                </p>
                            </div>
                            <div class="timeline-icon">
                                <i class="fa fa-users"></i>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-4 timeline">
                        <div class="timeline-inner">
                            <div class="year">Share</div>
                            <div class="timeline-content">
                                <div class="post">Hunar Portfolios</div>
                                <p class="description">
                                    Share the portfolio link on external media
                                </p>
                            </div>
                            <div class="timeline-icon">
                                <i class="fa fa-share-square"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<div class="section section-team" style="background:url('./assets/img/home-section-01-bg.jpg')">
    <div class="container-fluid">
      <!-- <h2 class="title">How It Works</h2> -->
      <div class="team custom-paragraph">
        <div class="row" style="margin-right: 0px; margin-left: 0px;">
          <div class="col-md-12">
            <h2 class="title" style="text-align: center">Know More...</h2>
            <div class="separator separator-primary" style="margin-bottom: 40px; background:#FFFFFF"></div>
            <mat-accordion class="example-headers-align" [togglePosition]="'before'">
              <mat-expansion-panel>
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    <span class="custom-faq-title">What does Hunar offer to the artists?</span>
                  </mat-panel-title>
                </mat-expansion-panel-header>
                <div class="row">
                  <div class="col-md-12">
                    <label class="custom-lbl-faq">Hunar provides artists with a platform to showcase their work, pitch for opportunities and connect with their peer community. </label>
                  </div>
                </div>
              </mat-expansion-panel>
            </mat-accordion>
            <mat-accordion class="example-headers-align" [togglePosition]="'before'">
              <mat-expansion-panel>
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    <span class="custom-faq-title">What does Hunar offer to  consumers?</span>
                  </mat-panel-title>
                </mat-expansion-panel-header>
                <div class="row">
                  <div class="col-md-12">
                    <label class="custom-lbl-faq">At Hunar, businesses or individuals can find creative content or artistic talent to hire. They can create events where artists can pitch for the listed opportunities.</label>
                  </div>
                </div>
              </mat-expansion-panel>
            </mat-accordion>
            <mat-accordion class="example-headers-align" [togglePosition]="'before'">
              <mat-expansion-panel>
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    <span class="custom-faq-title">What type of art is available on Hunar?</span>
                  </mat-panel-title>
                </mat-expansion-panel-header>
                <div class="row">
                  <div class="col-md-12">
                    <label class="custom-lbl-faq">Every type of creation that can be classified under Art is available on Hunar. An elaborate list (but not limited to it) is given below.</label>
                  </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                      <label class="custom-lbl-faq"><b>Written</b></label>
                    </div>
                    <div class="col-md-9">
                        <label class="custom-lbl-faq">Story, screenplay, stage play, lyrics, songs, poetry, web series, TV series, radio jingle script, video jingle script, dialogues for movies, humor for media, web content, creative corporate content, film treatments, content for advertising</label>
                      </div>
                  </div>
                  <div class="row">
                    <div class="col-md-3">
                      <label class="custom-lbl-faq"><b>Visual</b></label>
                    </div>
                    <div class="col-md-9">
                        <label class="custom-lbl-faq">Applied arts (Industrial Design, architectural design, Graphic Design, Fashion Design, Interior Design, Decorative Art), wall murals, street art, graffitti</label>
                      </div>
                  </div>
                  <div class="row">
                    <div class="col-md-3">
                      <label class="custom-lbl-faq"><b>Performance</b></label>
                    </div>
                    <div class="col-md-9">
                        <label class="custom-lbl-faq">Acting, singing, voice (RJ), DJ, dance, instrumental, orchestra, music compositions, illusion (magic), ventriloquism, puppetry, circus</label>
                      </div>
                  </div>
                  <div class="row">
                    <div class="col-md-3">
                      <label class="custom-lbl-faq"><b>Art</b></label>
                    </div>
                    <div class="col-md-9">
                        <label class="custom-lbl-faq">Painting, drawing, sketching, cartoon/ doodling, comic strips, flip books, face painting, sculpture (Stone, Clay, Metal, Glass and Wood), ceramics, artifacts, handicrafts</label>
                      </div>
                  </div>
                  <div class="row">
                    <div class="col-md-3">
                      <label class="custom-lbl-faq"><b>Photography</b></label>
                    </div>
                    <div class="col-md-9">
                        <label class="custom-lbl-faq">Creative, engineering, corporate, media, astronomical</label>
                      </div>
                  </div>
                  <div class="row">
                    <div class="col-md-3">
                      <label class="custom-lbl-faq"><b>Techno</b></label>
                    </div>
                    <div class="col-md-9">
                        <label class="custom-lbl-faq">Digital Art, Illustration, 3D Modeling, Animation, Editing, Special Effects, Photo Editing, camera, stage setting, light effects, sound effects</label>
                      </div>
                  </div>
                  <div class="row">
                    <div class="col-md-3">
                      <label class="custom-lbl-faq"><b>Other</b></label>
                    </div>
                    <div class="col-md-9">
                        <label class="custom-lbl-faq">Gardening, landscaping, interior designing, makeovers of people and places, film reconnaissance</label>
                      </div>
                  </div>
              </mat-expansion-panel>
            </mat-accordion>
            <mat-accordion class="example-headers-align" [togglePosition]="'before'">
              <mat-expansion-panel>
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    <span class="custom-faq-title">Do I need to pay to upload my content?</span>
                  </mat-panel-title>
                </mat-expansion-panel-header>
                <div class="row">
                  <div class="col-md-12">
                    <label class="custom-lbl-faq">Artists can upload their content for free. You get 100 GB space for free. We do recommend that you clear unwanted content to keep your portfolio tidy and attractive. If you need more space, you need to sign up for the Premium membership.</label>
                  </div>
                </div>
              </mat-expansion-panel>
            </mat-accordion>
            <mat-accordion class="example-headers-align" [togglePosition]="'before'">
                <mat-expansion-panel>
                  <mat-expansion-panel-header>
                    <mat-panel-title>
                      <span class="custom-faq-title">Do I need to pay to just browse the content?</span>
                    </mat-panel-title>
                  </mat-expansion-panel-header>
                  <div class="row">
                    <div class="col-md-12">
                      <label class="custom-lbl-faq">If you are just a visitor, you can browse certain areas of the website like ongoing Evenets. You can 'like' any content you see. You can browse the content subject to the security settings opted by the registered users. 
                        If you want to participate in events, contact any users or consumers or do more, you need to register.</label>
                    </div>
                  </div>
                </mat-expansion-panel>
              </mat-accordion>
              <mat-accordion class="example-headers-align" [togglePosition]="'before'">
                <mat-expansion-panel>
                  <mat-expansion-panel-header>
                    <mat-panel-title>
                      <span class="custom-faq-title">How do I get my content reviewed by the experts?</span>
                    </mat-panel-title>
                  </mat-expansion-panel-header>
                  <div class="row">
                    <div class="col-md-12">
                      <label class="custom-lbl-faq">You need to have a premium membership to avail this feature. You can create an event named review and invite the pitches. Based on the responses, you can accept a pitch of a member or a business to review your content. You can either allow the member to see the content or share it outside Hunar through your own email account.</label>
                    </div>
                  </div>
                </mat-expansion-panel>
              </mat-accordion>
              <mat-accordion class="example-headers-align" [togglePosition]="'before'">
                <mat-expansion-panel>
                  <mat-expansion-panel-header>
                    <mat-panel-title>
                      <span class="custom-faq-title">How is my content protected from plagiarism</span>
                    </mat-panel-title>
                  </mat-expansion-panel-header>
                  <div class="row">
                    <div class="col-md-12">
                      <label class="custom-lbl-faq">We provide many security settings on our website to secure your work. In addition to that we provide watermarking service for free. We do recommend that you also get your content registered with authorizing bodies like SWA. </label>
                    </div>
                  </div>
                </mat-expansion-panel>
              </mat-accordion>
              <mat-accordion class="example-headers-align" [togglePosition]="'before'">
                <mat-expansion-panel>
                  <mat-expansion-panel-header>
                    <mat-panel-title>
                      <span class="custom-faq-title">What type of membership should I choose?</span>
                    </mat-panel-title>
                  </mat-expansion-panel-header>
                  <div class="row">
                    <div class="col-md-12">
                      <label class="custom-lbl-faq">If you are an artist looking to upload your content, create portfolios and seeking opportunities you need to simply register. There is no fee for you. <br/>
                        If you are looking to browse all the content or hire talent, you need to choose a paid Premium membership.</label>
                    </div>
                  </div>
                </mat-expansion-panel>
              </mat-accordion>
              <mat-accordion class="example-headers-align" [togglePosition]="'before'">
                <mat-expansion-panel>
                  <mat-expansion-panel-header>
                    <mat-panel-title>
                      <span class="custom-faq-title">Can I share my Radian portfolio on social media?</span>
                    </mat-panel-title>
                  </mat-expansion-panel-header>
                  <div class="row">
                    <div class="col-md-12">
                      <label class="custom-lbl-faq">Yes, you can share Hunar link on your social media platforms.</label>
                    </div>
                  </div>
                </mat-expansion-panel>
              </mat-accordion>
              <mat-accordion class="example-headers-align" [togglePosition]="'before'">
                <mat-expansion-panel>
                  <mat-expansion-panel-header>
                    <mat-panel-title>
                      <span class="custom-faq-title">Can I cancel my subscription anytime?</span>
                    </mat-panel-title>
                  </mat-expansion-panel-header>
                  <div class="row">
                    <div class="col-md-12">
                      <label class="custom-lbl-faq">Yes you can. We don't believe in tying down anyone when they are not happy! Your prorated membership fee will be refunded to you.</label>
                    </div>
                  </div>
                </mat-expansion-panel>
              </mat-accordion>
              <mat-accordion class="example-headers-align" [togglePosition]="'before'">
                <mat-expansion-panel>
                  <mat-expansion-panel-header>
                    <mat-panel-title>
                      <span class="custom-faq-title">How secure is my payment information on Radian</span>
                    </mat-panel-title>
                  </mat-expansion-panel-header>
                  <div class="row">
                    <div class="col-md-12">
                      <label class="custom-lbl-faq">We use secure payment gateways to make sure your information is not compromised.</label>
                    </div>
                  </div>
                </mat-expansion-panel>
              </mat-accordion>
              <mat-accordion class="example-headers-align" [togglePosition]="'before'">
                <mat-expansion-panel>
                  <mat-expansion-panel-header>
                    <mat-panel-title>
                      <span class="custom-faq-title">How secure is my payment information on Radian</span>
                    </mat-panel-title>
                  </mat-expansion-panel-header>
                  <div class="row">
                    <div class="col-md-12">
                      <label class="custom-lbl-faq">We use secure payment gateways to make sure your information is not compromised.</label>
                    </div>
                  </div>
                </mat-expansion-panel>
              </mat-accordion>
              <mat-accordion class="example-headers-align" [togglePosition]="'before'">
                <mat-expansion-panel>
                  <mat-expansion-panel-header>
                    <mat-panel-title>
                      <span class="custom-faq-title">What will happen to my content and portfolio if I cancel my subscription</span>
                    </mat-panel-title>
                  </mat-expansion-panel-header>
                  <div class="row">
                    <div class="col-md-12">
                      <label class="custom-lbl-faq">If you cancel your paid subscription, your membership will be converted to Basic. You will be given an option to delete the content of your choice in order to stay  in the limit of 100 GB. You can continue to enjoy the benefits of registered user. If you choose to delete your Hunar account, all your content will be deleted.</label>
                    </div>
                  </div>
                </mat-expansion-panel>
              </mat-accordion>
              <mat-accordion class="example-headers-align" [togglePosition]="'before'">
                <mat-expansion-panel>
                  <mat-expansion-panel-header>
                    <mat-panel-title>
                      <span class="custom-faq-title">Can I sell my work on Radian</span>
                    </mat-panel-title>
                  </mat-expansion-panel-header>
                  <div class="row">
                    <div class="col-md-12">
                      <label class="custom-lbl-faq">At this stage, we do not provide direct selling option. You will have to deal with the customer outside Hunar.</label>
                    </div>
                  </div>
                </mat-expansion-panel>
              </mat-accordion>
              <mat-accordion class="example-headers-align" [togglePosition]="'before'">
                <mat-expansion-panel>
                  <mat-expansion-panel-header>
                    <mat-panel-title>
                      <span class="custom-faq-title">Will my personal data be sold to third party</span>
                    </mat-panel-title>
                  </mat-expansion-panel-header>
                  <div class="row">
                    <div class="col-md-12">
                      <label class="custom-lbl-faq">We take your privacy very seriously and do not sell any data, including your personal data on the website to external parties without your specific consent.</label>
                    </div>
                  </div>
                </mat-expansion-panel>
              </mat-accordion>
              <mat-accordion class="example-headers-align" [togglePosition]="'before'">
                <mat-expansion-panel>
                  <mat-expansion-panel-header>
                    <mat-panel-title>
                      <span class="custom-faq-title">How much space will I get for storing my content</span>
                    </mat-panel-title>
                  </mat-expansion-panel-header>
                  <div class="row">
                    <div class="col-md-12">
                      <label class="custom-lbl-faq">With Basic membership, you get 100 GB. With Premium membership, you get unlimited space.</label>
                    </div>
                  </div>
                </mat-expansion-panel>
              </mat-accordion>
              <mat-accordion class="example-headers-align" [togglePosition]="'before'">
                <mat-expansion-panel>
                  <mat-expansion-panel-header>
                    <mat-panel-title>
                      <span class="custom-faq-title">How can I collaborate with other artists</span>
                    </mat-panel-title>
                  </mat-expansion-panel-header>
                  <div class="row">
                    <div class="col-md-12">
                      <label class="custom-lbl-faq">You can use our Conversations feature or you can collaborate by creating Events.</label>
                    </div>
                  </div>
                </mat-expansion-panel>
              </mat-accordion>
              <mat-accordion class="example-headers-align" [togglePosition]="'before'">
                <mat-expansion-panel>
                  <mat-expansion-panel-header>
                    <mat-panel-title>
                      <span class="custom-faq-title">Will I have preferences as to who will see my content</span>
                    </mat-panel-title>
                  </mat-expansion-panel-header>
                  <div class="row">
                    <div class="col-md-12">
                      <label class="custom-lbl-faq">Yes, you will be given that choice through security settings.</label>
                    </div>
                  </div>
                </mat-expansion-panel>
              </mat-accordion>
              <mat-accordion class="example-headers-align" [togglePosition]="'before'">
                <mat-expansion-panel>
                  <mat-expansion-panel-header>
                    <mat-panel-title>
                      <span class="custom-faq-title">Can people leave comments on my work</span>
                    </mat-panel-title>
                  </mat-expansion-panel-header>
                  <div class="row">
                    <div class="col-md-12">
                      <label class="custom-lbl-faq">Depending on the security settings chosen by you, others can like your content or send you a message to comment.</label>
                    </div>
                  </div>
                </mat-expansion-panel>
              </mat-accordion>
              <mat-accordion class="example-headers-align" [togglePosition]="'before'">
                <mat-expansion-panel>
                  <mat-expansion-panel-header>
                    <mat-panel-title>
                      <span class="custom-faq-title">Can I approach production companies or publishers on Hunar</span>
                    </mat-panel-title>
                  </mat-expansion-panel-header>
                  <div class="row">
                    <div class="col-md-12">
                      <label class="custom-lbl-faq">If the businesses have listed their contact details and are open to receive communication, you will be able to contact them directly outside Hunar.</label>
                    </div>
                  </div>
                </mat-expansion-panel>
              </mat-accordion>
              <mat-accordion class="example-headers-align" [togglePosition]="'before'">
                <mat-expansion-panel>
                  <mat-expansion-panel-header>
                    <mat-panel-title>
                      <span class="custom-faq-title">My form of art is not listed on the website what can I do</span>
                    </mat-panel-title>
                  </mat-expansion-panel-header>
                  <div class="row">
                    <div class="col-md-12">
                      <label class="custom-lbl-faq">Please send us a message and we will certainly add it!</label>
                    </div>
                  </div>
                </mat-expansion-panel>
              </mat-accordion>
          </div>
        </div>
      </div>
    </div>
  </div>