.btm-margin {
  margin-bottom: 21px;
}
h6.custom-title {
  text-align: center;
  font-size: 14px;
  margin-top: 6px;
}
.custom-hw-work {
  padding: 30px;
  text-align: center;
  font-size: 15px;
  height: 220px;
}
.custom-hw-work:hover{
  box-shadow: 0 4px 8px 0 rgba(255, 54, 54, 0.2), 0 6px 20px 0 rgba(255, 54, 4, 0.19);
  transform: scale(1.1);
}
.custom-margin {
  margin-bottom: 23px;
}
.custom-num-card {
  text-align: center;
  font-size: larger;
  padding: 8px 4px 8px 4px;
}
.custom-num-card:hover{
  box-shadow: 0 4px 8px 0 rgba(255, 54, 54, 0.2), 0 6px 20px 0 rgba(255, 54, 4, 0.19);
  transform: scale(1.1);
}
.custom-hw-work-md {
  padding: 30px;
  text-align: center;
  font-size: 15px;
  height: 220px;
}
.custom-hw-work-md:hover{
  box-shadow: 0 4px 8px 0 rgba(255, 54, 54, 0.2), 0 6px 20px 0 rgba(255, 54, 4, 0.19);
  transform: scale(1.1);
}
h6 {
  font-size: x-large;
}
.btn-float-right {
  float: right;
}
.custom-lbl {
  font-size: 19px;
  margin-bottom: 30px;
}
.custom-lbl-faq {
  font-size: 13px;
  padding: 10px;
  margin-left: 15px;
  font-family: 'Open Sans' !important;
}
.separator{
  margin: 0px auto !important;
  margin-bottom: 20px !important;
}
.custom-faq-title{
  font-weight: 700;
}
