<a [routerLink]="['/account/signup']">
    <div id="mainPageHeader" filter-color="orange" class="page-header">
        <div class="page-header-image rellax-header" data-rellax-speed="0">
            <img src="./assets/img/radian/inside_pages_2.jpg">
        </div>
    </div>
</a>
<div class="section section-team">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <div class="row card portfolio">
                    <div class="col-md-12">
                        <div class="timeline">
                            <div class="container left">
                                <div class="date">Profiles</div>
                                <i class="icon fa fa-user"></i>
                                <div class="content">
                                    <h2>Register as a Business User. Create Profile and Set Preferences</h2>
                                </div>
                            </div>
                            <div class="container right">
                                <div class="date">Portfolios</div>
                                <i class="icon fa fa-suitcase"></i>
                                <div class="content">
                                  <h2>Create one or multiple Buisness Portfolios</h2>
                                </div>
                              </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="row card portfolio">
                    <div class="col-md-12 custom-event">
                        <div class="container-fluid">
                            <h2>Annual Subscription</h2>
                            <div class="portfolio-label">Renew On 11th April 2023</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>