<a [routerLink]="['/account/signup']">
    <div id="mainPageHeader" filter-color="orange" class="page-header">
        <div class="page-header-image rellax-header" data-rellax-speed="0">
            <img src="./assets/img/radian/inside_pages_2.jpg">
        </div>
    </div>
</a>
<div class="section section-team">
    <div class="container-fluid">
        <div class="col-md-8 ml-auto mr-auto text-center">
            <!-- <div class="sign">
                        <span class="fast-flicker">New   platform  </span> <span class="flicker">to   connect   </span>   globally.......
                    </div> -->
            <h2 class="title">Hunar for Consumers / Buyers
            </h2>
        </div>
        <div class="separator separator-primary"></div>
        <div class="row custom-row">
            <div class="col-md-12">
                <div class="main-timeline10">
                    <div class="col-md-2 col-sm-4 timeline">
                        <div class="timeline-inner">
                            <div class="year">Profiles</div>
                            <div class="timeline-content">
                                <div class="post">Register</div>
                                <p class="description">
                                    Register as a Business User. Create Profile and Set Preferences
                                </p>
                            </div>
                            <div class="timeline-icon">
                                <i class="fa fa-globe"></i>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-4 timeline">
                        <div class="timeline-inner">
                            <div class="year">Portfolios</div>
                            <div class="timeline-content">
                                <div class="post">Create</div>
                                <p class="description">
                                    Create one or multiple Buisness Portfolios
                                </p>
                            </div>
                            <div class="timeline-icon">
                                <i class="fa fa-rocket"></i>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-4 timeline">
                        <div class="timeline-inner">
                            <div class="year">Events</div>
                            <div class="timeline-content">
                                <div class="post">Collaborate</div>
                                <p class="description">
                                    Create and Manage Events or Projects
                                </p>
                            </div>
                            <div class="timeline-icon">
                                <i class="fa fa-briefcase"></i>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-4 timeline">
                        <div class="timeline-inner">
                            <div class="year">Notifications</div>
                            <div class="timeline-content">
                                <div class="post">Receive</div>
                                <p class="description">
                                    Get notifications & pitches from Artists
                                </p>
                            </div>
                            <div class="timeline-icon">
                                <i class="fa fa-camera"></i>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-4 timeline">
                        <div class="timeline-inner">
                            <div class="year">Talent</div>
                            <div class="timeline-content">
                                <div class="post">Search</div>
                                <p class="description">
                                    Search for Talent through various available option / filters
                                </p>
                            </div>
                            <div class="timeline-icon">
                                <i class="fa fa-camera"></i>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-4 timeline">
                        <div class="timeline-inner">
                            <div class="year">Browse</div>
                            <div class="timeline-content">
                                <div class="post">View</div>
                                <p class="description">
                                    Browse Profiles and Portfolios of Artists
                                </p>
                            </div>
                            <div class="timeline-icon">
                                <i class="fa fa-camera"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<div class="section section-team">
    <div class="container-fluid">
        <div class="col-md-8 ml-auto mr-auto text-center">
            <!-- <div class="sign">
                        <span class="fast-flicker">New   platform  </span> <span class="flicker">to   connect   </span>   globally.......
                    </div> -->
            <h2 class="title">Hunar for Artists / Sellers
            </h2>
        </div>
        <div class="separator separator-primary"></div>
        <div class="row custom-row">
            <div class="col-md-12">
                <div class="main-timeline10">
                    <div class="col-md-2 col-sm-4 timeline">
                        <div class="timeline-inner">
                            <div class="year">Profiles</div>
                            <div class="timeline-content">
                                <div class="post">Register</div>
                                <p class="description">
                                    Register as an Individual User. Create Profile and Set Preferences
                                </p>
                            </div>
                            <div class="timeline-icon">
                                <i class="fa fa-globe"></i>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-4 timeline">
                        <div class="timeline-inner">
                            <div class="year">Portfolios</div>
                            <div class="timeline-content">
                                <div class="post">Create</div>
                                <p class="description">
                                    Create primary skill Portfolio and upload content
                                </p>
                            </div>
                            <div class="timeline-icon">
                                <i class="fa fa-rocket"></i>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-4 timeline">
                        <div class="timeline-inner">
                            <div class="year">Events</div>
                            <div class="timeline-content">
                                <div class="post">Collaborate</div>
                                <p class="description">
                                    Browse ongoing events. Show interest or pitch for it
                                </p>
                            </div>
                            <div class="timeline-icon">
                                <i class="fa fa-briefcase"></i>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-4 timeline">
                        <div class="timeline-inner">
                            <div class="year">Notifications</div>
                            <div class="timeline-content">
                                <div class="post">Receive</div>
                                <p class="description">
                                    Receive notifications for the event pitch
                                </p>
                            </div>
                            <div class="timeline-icon">
                                <i class="fa fa-camera"></i>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-4 timeline">
                        <div class="timeline-inner">
                            <div class="year">Members</div>
                            <div class="timeline-content">
                                <div class="post">Search</div>
                                <p class="description">
                                    Search members, email, message, chat, rate, review
                                </p>
                            </div>
                            <div class="timeline-icon">
                                <i class="fa fa-camera"></i>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-4 timeline">
                        <div class="timeline-inner">
                            <div class="year">Share</div>
                            <div class="timeline-content">
                                <div class="post">Hunar Portfolios</div>
                                <p class="description">
                                    Share the portfolio link on external media
                                </p>
                            </div>
                            <div class="timeline-icon">
                                <i class="fa fa-camera"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>