
.row.card.portfolio{
  margin-top:28px;
}
.portfolio-label{
  margin-bottom: 10px;
}
.btn-round {
  border-width: 1px;
  border-radius: 0.1875rem !important;
  padding: 13px 25px;
}
.form-group .form-control, .input-group .form-control{
  padding: 12px 18px 12px 18px;
}
.lbl-custom{
  font-weight: 700;
}
h4 {
  color: #000;
  font-family: 'Open Sans';
  font-weight: 700;
  margin-top: 0px;
}
.custom-event{
  padding-top: 30px;
  padding-bottom: 30px;
}
.mt-top{
  margin-bottom: 18px;
}
.custom-label{
  margin-top:5px
}
.custom-btn{
  margin-top: 0;
}
h2{
  margin-top:0px !important;
}
h4{
  font-family:'Open Sans' !important;
  font-size: 15px;
  font-weight: 700;
}
.reset-btn{
  background-color: #181F29;
  margin-right:10px;
}
.last-acc{
  font-family: 'Open Sans' !important;
}
.signUp-form-control{
  margin-bottom: 10px !important;
  border: 1px solid #2F3C4F !important;
  background: #ffffff !important;
  color: #181F29 !important;
}
.form-control:focus{
  border: 2px solid #4AA0FF !important;
  box-shadow: 0px 0px 2px 0px #4AA0FF !important;
}
::placeholder{
  color: #181F29;
  opacity: 0.7;
}
.card-register-membership label.form-check-label {
  width: 100%;
  border-radius: 5px;
  text-align: center !important;
  padding: 18px;
  height: inherit;
}
@media only screen and (max-width: 500px) {
  .card-register-membership.custom-set {
    width:100%;
    margin-bottom: 10px;
  }
  .custom-label{
    margin-bottom: 35px;
  }
}
.custom-set{
  display: block;
  width: 82px;
  height: 229px;
  /* background-color: gainsboro; */
  cursor: pointer;
  position: relative;
  margin-top: 35px;
}
.custom-set input[type="radio"]{
  position: absolute;
  top: 20px;
  left: 50%;
  display:none;
}
input[type="radio"]:checked + label{
  border: #FF3636 2px solid;
  background: #FF3636;
  color: #fff !important;
}
input[type="radio"]:checked + label h4{
  color: #fff !important;
  font-weight: 700;
}
.form-check-label.card-label {
  border: #111111 2px solid;
  border-radius:30px !important;
}
.title.text-center{
padding:17px;
}
.signUp-form-control{
  margin-bottom: 10px !important;
  border: 0px !important;
  background: #333333 !important;
  color: #FFFFFF !important;
}
.form-check-label.card-label h4{
  margin-top: unset;
}
.mt-top-custom{
  margin-top: 10px;
}
h4 {
  color: #FF3636;
  font-family: 'Open Sans';
  font-weight: 700;
}
.card {
  padding: 0px 25px 25px 25px;
}
.reset-btn{
  background-color: #181F29;
  margin-right:10px;
}

h5, h6{
font-family: 'Open Sans';
}

.timeline {
  position: relative;
  width: 100%;
  max-width: 1140px;
  margin: 0 auto;
  padding: 15px 0;
}

.timeline::after {
  content: '';
  position: absolute;
  width: 2px;
  background: #006E51;
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -1px;
}

.container {
  padding: 15px 30px;
  position: relative;
  background: inherit;
  width: 50%;
}

.container.left {
  left: -212px;
}

.container.right {
  left: 25%;
}

.container::after {
  content: '';
  position: absolute;
  width: 16px;
  height: 16px;
  top: calc(50% - 8px);
  right: -8px;
  background: #ffffff;
  border: 2px solid #006E51;
  border-radius: 16px;
  z-index: 1;
}

.container.right::after {
  left: -8px;
}

.container::before {
  content: '';
  position: absolute;
  width: 50px;
  height: 2px;
  top: calc(50% - 1px);
  right: 8px;
  background: #006E51;
  z-index: 1;
}

.container.right::before {
  left: 8px;
}

.container .date {
  position: absolute;
  display: inline-block;
  top: calc(50% - 8px);
  text-align: center;
  font-size: 14px;
  font-weight: bold;
  color: #006E51;
  text-transform: uppercase;
  letter-spacing: 1px;
  z-index: 1;
}

.container.left .date {
  right: -75px;
}

.container.right .date {
  left: -75px;
}

.container .icon {
  position: absolute;
  display: inline-block;
  width: 40px;
  height: 40px;
  padding: 9px 0;
  top: calc(50% - 20px);
  background: #F6D155;
  border: 2px solid #006E51;
  border-radius: 40px;
  text-align: center;
  font-size: 18px;
  color: #006E51;
  z-index: 1;
}

.container.left .icon {
  right: 56px;
}

.container.right .icon {
  left: 56px;
}

.container .content {
  padding: 30px 90px 30px 30px;
  background: #F6D155;
  position: relative;
  border-radius: 0 500px 500px 0;
}

.container.right .content {
  padding: 30px 30px 30px 90px;
  border-radius: 500px 0 0 500px;
}

.container .content h2 {
  margin: 0 0 10px 0;
  font-size: 18px;
  font-weight: normal;
  color: #006E51;
}

.container .content p {
  margin: 0;
  font-size: 16px;
  line-height: 22px;
  color: #000000;
}

@media (max-width: 767.98px) {
  .timeline::after {
    left: 90px;
  }

  .container {
    width: 100%;
    padding-left: 120px;
    padding-right: 30px;
  }

  .container.right {
    left: 0%;
  }

  .container.left::after, 
  .container.right::after {
    left: 82px;
  }

  .container.left::before,
  .container.right::before {
    left: 100px;
    border-color: transparent #006E51 transparent transparent;
  }

  .container.left .date,
  .container.right .date {
    right: auto;
    left: 15px;
  }

  .container.left .icon,
  .container.right .icon {
    right: auto;
    left: 146px;
  }

  .container.left .content,
  .container.right .content {
    padding: 30px 30px 30px 90px;
    border-radius: 500px 0 0 500px;
  }
}