.row.card.portfolio{
    margin-top:28px;
}
.mt-top{
    margin-bottom: 18px;
}
.custom-label{
    margin-top:5px
}
.custom-col-12{
  padding-top: 15px;
  padding-right: 25px;
  padding-bottom: 25px;
}
.txtarea-custom {
  overflow: auto;
  resize: vertical;
  width: 100%;
  margin-top: 15px;
  padding: 5px 12px;
  border-radius: 8px;
  background: transparent;
  color: #181F29;
}
// .custom-photo-container img {
//   width: 150px;
//   height: 150px;
//   box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.3);
//   max-height: 150px;
//   max-width: 150px;
//   margin-bottom: 11px;
//   min-height: 150px;
//   min-width: 150px;
// }
.custom-btn{
  margin-top: 0;
  padding: 7px 13px 5px 12px;
}


h2{
  margin-top:0px !important;
}

h4{
  font-family:'Open Sans' !important;
  font-size: 15px;
  font-weight: 700;;
}

.reset-btn{
  background-color: #181F29;
  margin-right:10px;
}

.last-acc{
  font-family: 'Open Sans' !important;
}

