<div id="mainPageHeader" filter-color="orange" class="page-header page-header-small">
  <div class="page-header-image rellax-header" data-rellax-speed="0"
    style="background-image: url('assets/img/radian/contactUs.jpg');"></div>
</div>
<div class="section section-team" >
  <div class="container-fluid">
      <div class="row" style="margin-right: 0px; margin-left: 0px;">
        <div class="col-md-1"></div>
          <div class="col-md-7">
              <h2 class="title" style="text-align: center">We'd love to hear from you</h2>
              <div class="separator separator-primary" style="margin-bottom: 50px;"></div>
              <p style="text-align: center;">
                Wheather you have a questions about feautres, suggestion on new
                feature or anything else, our team is waiting for your feedback.
              </p>
              <div class="card contact-form">
                <form class="login-form" [formGroup]="contactUsFormGroup" (ngSubmit)="onSubmit()">
                  <div class="row">
                    <div class="col-md-6">
                      <div class="row" *ngIf="
                          contactUsForm.FirstName.errors &&
                          (contactUsForm.FirstName.dirty || contactUsForm.FirstName.touched)
                        ">
                        <div class="col-md-12">
                          <app-required-validation-message [fieldName]="'First Name'" *ngIf="contactUsForm.FirstName.errors.required">
                          </app-required-validation-message>
                        </div>
                      </div>
                      <div class="input-group">
                        <input type="text" class="form-control contant-form-control" placeholder="First Name" formControlName="FirstName" /><br /><br />
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="row" *ngIf="
                          contactUsForm.LastName.errors &&
                          (contactUsForm.LastName.dirty || contactUsForm.LastName.touched)
                        ">
                        <div class="col-md-12">
                          <app-required-validation-message [fieldName]="'Last Name'" *ngIf="contactUsForm.LastName.errors.required">
                          </app-required-validation-message>
                        </div>
                      </div>
                      <div class="input-group">
                        <input type="text" class="form-control contant-form-control" placeholder="Last Name" formControlName="LastName" /><br /><br />
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-6">
                      <div class="row" *ngIf="
                          contactUsForm.Email.errors &&
                          (contactUsForm.Email.dirty || contactUsForm.Email.touched)
                        ">
                        <div class="col-md-12">
                          <app-required-validation-message [fieldName]="'Email'" *ngIf="contactUsForm.Email.errors.required">
                          </app-required-validation-message>
                        </div>
                      </div>
                      <div class="input-group">
                        <input type="text" class="form-control contant-form-control" placeholder="Email" formControlName="Email"/>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="row" *ngIf="
                          contactUsForm.ContactNumber.errors &&
                          (contactUsForm.ContactNumber.dirty || contactUsForm.ContactNumber.touched)
                        ">
                        <div class="col-md-12">
                          <app-required-validation-message [fieldName]="'Contact Number'" *ngIf="contactUsForm.ContactNumber.errors.required">
                          </app-required-validation-message>
                        </div>
                      </div>
                      <div class="input-group">
                        <input type="text" class="form-control contant-form-control" placeholder="Contact Number" formControlName="ContactNumber"/>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-12">
                      <div class="row" *ngIf="
                          contactUsForm.Message.errors &&
                          (contactUsForm.Message.dirty || contactUsForm.Message.touched)
                        ">
                        <div class="col-md-12">
                          <app-required-validation-message [fieldName]="'Message'"
                            *ngIf="contactUsForm.Message.errors.required">
                          </app-required-validation-message>
                        </div>
                      </div>
                      <div class="input-group">
                        <textarea class="form-control contant-form-control" placeholder="Love to hear your words...." formControlName="Message"></textarea>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-12">
                      <button mat-button matStepperPrevious style="background: #1E1E1E!important;" class="btn btn-default btn-round btn-float-right" (click)="setLoadForm()">Reset</button>
                       <button class="btn btn-danger btn-round btn-float-right submit-btn"  [disabled]="contactUsForm.errors">Submit</button>
                      <!-- <button type="submit" class="btn btn-danger btn-round btn-flt-rt" [disabled]="contactUsForm.errors">
                        Submit
                      </button>
                      <button type="submit" class="btn btn-danger btn-round btn-flt-r" (click)="setLoadForm()">
                        Reset
                      </button> -->
                    </div>
                  </div>
                </form>
              </div>
          </div>
          <div class="col-md-4">
            <h2 class="title" style="text-align: center">Contact Us @</h2>
              <div class="separator separator-primary" style="margin-bottom: 80px;"></div>
              <div class="contact-addr">
                <span class="custom-span">KLASIK TECHNOLOGY SOLUTIONS PRIVATE LIMITED</span><br/><br/>
                143 Narmada Colony,<br/>
                Katol Road,<br/>
                Nagpur - 440013<br/>
                Maharashtra<br/>
                India<br/><br/>
                <i class="fa fa-address-book" style="font-size:18px"></i>&nbsp;&nbsp;<span style="font-size: 16px; font-weight: 800;">+91 8082776668</span><br/>
                <i class="fa fa-envelope" style="font-size:18px"></i>&nbsp;&nbsp;<span style="font-size: 16px; font-weight: 800;">info@gohunar.com</span><br/>
              </div>        
          </div>
      </div>
  </div>
</div>

