.row.card.portfolio{
    margin-top:28px;
}
.mt-top{
    margin-bottom: 18px;
}
.custom-label{
    margin-top:5px
}
.custom-img-container .custom-photo-container {
    width: 150px !important;
    height: 150px !important;
    margin: 3px 0px 0px 28px;
    box-shadow: 0px 10px 25px 0px rgba(0, 0, 0, 0.3);
}

h2{
  margin-top:0px !important;
}

h4{
  font-family:'Open Sans' !important;
  font-size: 15px;
}

.reset-btn{
  background-color: #181F29;
  margin-right:10px;
}

.signUp-form-control{
  margin-bottom: 10px !important;
  border: 1px solid #2F3C4F !important;
  background: #ffffff !important;
  color: #181F29 !important;
}

h6{
  font-family: 'Open Sans';
}

.form-control:focus{
  border: 2px solid #4AA0FF !important;
  box-shadow: 0px 0px 2px 0px #4AA0FF !important;
}
