<div class="container-fluid">
    <!-- <div class="button-container">
        <a href="#button" class="btn btn-primary btn-round btn-lg">My Event's</a>
    </div> -->
    <h2 class="title" style="text-align: center">My Events</h2>
    <div class="separator separator-primary" style="margin-bottom: 20px;"></div>
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10">
            <div class="row card portfolio">
                <div class="col-md-12 custom-col-12">
                    <div class="row">
                        <div class="col-md-8">
                            <!--<i class="fa fa-exclamation-circle" aria-hidden="true"
                                style="margin: 35px 0px 0px 26px;"></i>
                            <span style="margin-left: 7px;font-style: italic;">Please ensure to add a <b>watermark</b>
                                in your <b>word</b> document; save its as <b>PDF;</b> then upload it</span>-->
                        </div>
                        <div class="col-md-4">
                            <a [routerLink]="['/member/event_add']"
                                class="btn btn-danger btn-round profile-label">Create New Event</a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 custom-event">
                            <mat-vertical-stepper #stepper>
                                <mat-step *ngFor="let item of userEvents;let i = index" [completed]="false">
                                    <ng-template class="row" matStepLabel>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <h4>{{item.EventName}}</h4>
                                                <p class="last-acc">Last Accessed:
                                                    {{item.LastUpdatedDate|date:'MM/dd/yyyy hh:mm:ss'}}</p>
                                            </div>
                                        </div>
                                    </ng-template><br />
                                    <div class="row mt-top">
                                        <div class="col-md-6">
                                            <div class="portfolio-label">Event Status</div>
                                            <div class="pretty p-switch p-fill">
                                                <input type="radio" disabled="true" [checked]="item.EventStatus" />
                                                <div class="state p-success">
                                                    <label>Active/Inactive</label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="portfolio-label">Event Categories</div>
                                            <div class="pretty p-switch p-fill"
                                                *ngFor="let elem of item.EventCategory;let i=index;">
                                                <input type="radio" disabled="true" checked [value]="true" />
                                                <div class="state p-success p-fill">
                                                    <label>{{elem.name}}</label>
                                                </div>
                                            </div>
                                        </div>
                                    </div><br />
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="portfolio-label">Event Description</div>
                                            <!-- <textarea class="form-control white-board" [attr.disabled]="true">
                                            {{item.EventDescription}}
                                        </textarea> -->
                                            <textarea class="form-control"
                                                style="font-family: Open Sans !important;"
                                                [(ngModel)]="item.EventDescription"  disabled="true">
                                            </textarea>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="portfolio-label"></div>
                                            <button class="btn btn-primary btn-custom btn-round btn-margin"
                                                (click)="OpenUserList(item.id)"><img class="interestedUsers" src="assets/img/radian/interested_Users.png"/>&nbsp;&nbsp;&nbsp;Click here to view users interested for this Event</button>&nbsp;
                                        </div>
                                    </div><br />
                                    <div class="row" *ngIf="item.EventMedia.length>0">
                                        <div class="portfolio-label">Event Media</div>
                                        <div class="col-md-12">
                                            <div class="row">
                                                <div class="col-md-2" *ngFor="let elem of item.EventMedia;let i=index;">
                                                    <div class="custom-photo-container">
                                                        <img src="{{elem.Name}}" alt="" class="img-raised" title=""
                                                            (click)='openImageDialog(item.EventMedia,i)'
                                                            *ngIf="elem.IsImage==='image'">
                                                        <a *ngIf="elem.IsImage==='pdf'"
                                                            (click)="downloadPdf(elem.Name)">
                                                            <img src="assets/img/radian/document.png" alt=""
                                                                class="img-raised">
                                                        </a>
                                                        <div *ngIf="elem.IsImage==='video'" class="video">
                                                            <img src="{{elem.Image}}"
                                                                (click)='openImageDialog(item.EventMedia,i)'>
                                                            <a></a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row mt-top">
                                        <div class="col-md-12 flt-right">
                                            <button class="btn btn-primary btn-round btn-margin"
                                                (click)="openEdit(item.id)">Edit</button>&nbsp;
                                            <button class="btn btn-primary btn-round reset-btn"
                                                (click)="DeleteEvent(item)">Delete</button>
                                        </div>
                                    </div>

                                </mat-step>
                            </mat-vertical-stepper>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-1">
        </div>
    </div>
</div>