/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/scss/bootstrap.scss";
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import '~pretty-checkbox/src/pretty-checkbox.scss';
@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@1,300&display=swap');
body{
  overflow-x: hidden;
}
.form-control{
    height:inherit !important;
}
::-webkit-scrollbar {
    width: 0.3em;
  }

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  }

::-webkit-scrollbar-thumb {
    background-color: #111111;
    outline: 1px solid #ffffff;
  }
  .login-popup .mat-dialog-container{
    padding: 0px !important;
  }
  .cdk-overlay-container{
    z-index: 111111 !important;
  }
//   .container-fluid{
//     margin-left:17px;
// }

.login-popup .mat-dialog-container {
  box-shadow: 0px 0px 45px 0px #181F29;
  color: rgba(0, 0, 0, 0.87);
}
form.registerForm .mat-step-header{
  // background-color: #f72c2c85 !important;
  color:#f72c2c85
}
form.registerForm .mat-step-label{
  color:#111111 !important
}
.mat-step-header .mat-step-icon-selected{
  background-color: #FF3636;
  color:#ffffff;
}
form.registerForm a{
   color: #FF3636;
    text-decoration: none;
    background-color: transparent;
}
.header-image{
  background-image: url('/assets/img/bg_rd1.jpg');
}

.tab-panel .tab-content{
  border: 1px solid #111111 !important;
  border-radius: 5px !important;
  padding: 0px 7px 0px 7px !important;
}
.text-warning-label{
  float:left;
}
.text-error-label{
  float:right;
}
span.text-error.text-error-label {
  color: red;
  margin-bottom:unset !important;
}
.input-group-prepend .input-group-text{
  border-radius: 0px 0px 0px 0px;
}
.input-group .form-control {
  border-radius: 0px 0px 0px 0px;
}

.profile-label{
  float:right;
  color:blue;
  padding-top:17px;
}
.profile-label div a {
  color:blue;
}
.collections img {
  padding: 3px;
}
.card{
  margin-left:1px;
}
.portfolio-label{
  font-weight: 700;

}
.portfolio .mat-step-label.mat-step-label-active.mat-step-label-selected div div h4 {
  color: #FF3636;
}
.image-popup .mat-dialog-container {
  padding: 8px;
}
.custom-portfolio .card-img-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  overflow: hidden;
}
.custom-portfolio .card-img-wrapper img {
  transition: 1.5s ease;
}

.custom-portfolio .card:hover .card-img-wrapper img {
  transform: scale(1.15);
}
.card-img-wrapper iframe{
  height:98px;
}
.mb-search {
  padding: 17px;
}
.team.custom-paragraph .mb-search {
  padding: 17px;
}
.mem-title {
  text-align: unset!important;
}
.container-fluid h5.title {
  margin-top: 0!important;
  margin-bottom: 0!important;
}
.card.portfolio.mb-search .row {
  margin-bottom: 7px;
}
.custom-pdn.mb-search{
  padding:45px;
}
.custom-img img{
  margin-top: 96px;
}
.col-md-1.custom-img.rotate-img{
  float:right;
  margin-right: 143px;
}
.col-md-1.custom-img.rotate-img img{
  transform: rotate(90deg);
  margin-top: unset !important;
}
.mat-step-header.cdk-keyboard-focused, .mat-step-header.cdk-program-focused, .mat-step-header:hover{
  background-color: unset;
}
.custom-player iframe {
  width: 100%;
  height: 505px;
}
// .angular-editor-wrapper {
//   min-height:146px;
//   max-height:146px !important
// }
// .angular-editor-wrapper div{
//     max-height: 146px !important;
//     min-height: 146px !important;
//     overflow-y: scroll;
// }
.flt-right{
  text-align:right;
}
.border-custom{
  border:1px solid #111111
}
.col-md-12 .border-custom{
  min-height:264px;
  max-height: 264px;
}
image-cropper.border-custom{
  min-height:264px;
  max-height: 264px;
}
.pretty {
  margin-bottom: 1em;
}
.custom-photo-container div iframe {
    width: 215px;
    height: 215px;
    max-height: 215px;
    max-width: 215px;
    margin-bottom: 20px;
}
.card-img-wrapper div {
  height: 98px !important
}
// .nav-item .nav-link:hover,.nav-item .dropdown:hover, .nav-item .nav-link.active{
//   background-color: #FF3636 !important;
//   color: #ffffff !important;
// }
a.nav-link p:hover {
  background-color: #FF3636;
  color: #ffffff;
  border-radius: 3px;
  transition: 0.3s;
}
a.nav-link.active p {
  background-color: #FF3636;
  color: #ffffff;
  padding: 4px;
  border-radius: 3px;
  transition: 0.3s;
}
.dropdown-item.active{
  background-color: #FF3636 !important;
  color:#ffffff !important;
}
.show.dropdown .dropdown-menu {
  z-index: 1000;
  float: left;
  margin: 0.125rem 0 0;
  font-size: 1rem;
  color: #212529;
  text-align: left;
  list-style: none;
  background-color: #fff;
  background-clip: padding-box;
  padding:unset !important
}
img.rounded-circle.img-raised:hover {
  border: 3px solid #FF3636;
}
.slick-slider {
  width: 90%;
  margin: auto;
  background: #ffffff;
}

.nav-btn {
  height: 47px;
  position: absolute;
  width: 26px;
  cursor: pointer;
  top: 100px !important;
}

.prev-slide.slick-disabled,
.next-slide.slick-disabled {
  pointer-events: none;
  opacity: 0.2;
}

.prev-slide {
  background: url('./assets/img/radian/nav-icon.png') no-repeat scroll 0 0;
  left: -33px;
}

.next-slide {
  background: url('./assets/img/radian/nav-icon.png') no-repeat scroll -24px 0px;
  right: -33px;
}

.prev-slide:hover {
  background-position: 0px -53px;
}

.next-slide:hover {
  background-position: -24px -53px;
}
.custom-carousel .nav-btn{
  top: 43px !important;
}
.slick-slide{
  outline:unset !important;
}
.mat-step-label.mat-step-label-active:hover{
  color:#FF3636 !important;
}
.mat-step-label.mat-step-label-active.mat-step-label-selected{
  color:#FF3636 !important;
}
.example-headers-align span.mat-content{
  background-color: rgba(24,31,41,0.07) !important;
  margin-right: 0px !important;
  padding: 12px !important;
}
.example-headers-align .mat-expansion-panel {
  box-shadow: 0px 0px 0px 0px,
  0px 0px 0px 0px ,
  0px 0px 0px 0px !important
}
.example-headers-align .mat-expansion-panel-header:hover{
  background: unset !important;
}
@media (max-width: 1199px) {
 body  {
    .page-header {
      height: 40vh;
       .page-header-image{
         background-position:  center center !important;
       }
    }
  }
}
@media (max-width: 767px) {
    body .page-header {
      min-height: auto;
      height:272px;
      margin-top: 30px;
  }
}
@media (max-width: 414px) {
    body .page-header {
      height:230px;
  }
}
@media (max-width: 330px) {
  body .page-header {
    height:200px;
}
}
.dropdown-menu a.nav-link{
  padding:0px !important;
  p{
    display: block;
    border-radius: 0px;
    padding: 10px 12px !important;
  }
  p:hover{
    display: block;
    border-radius: 0px;
    padding: 10px 5px;

  }
}
.page-header.page-header-small{
  .page-header-image.rellax-header {
    background-position: center 30%;
  }
}
.p-custom{
  text-align: justify;
  font-size: 19px;
}
.mb-search {
  padding: 30px 17px 17px 17px;
}

 .custom-align{
    text-align: end;
  }
  .custom-align img,.custom-icon{
    height:25px;
    max-height:25px;
  }
  .custom-align .custom-icon{
    height: 25px;
    max-height: 25px;
    font-size: 23px;
    padding: 0px 10px 0px 10px;
    position: inherit;
    float: right;
    margin-top: 2px;
  }
  .custom-editor .angular-editor-textarea, .angular-editor-textarea:focus{
    outline: none;
}
.custom-editor .angular-editor .angular-editor-textarea{
  border:none !important;
}
.custom-photo-container img{
  height:inherit;
}
.custom-photo-container img {
  width: 215px;
  height: 215px;
  margin-bottom: 20px;
  min-height: 215px;
  min-width: 215px;
  border-radius: 8px;
}
.mat-expansion-panel-header-title,.mat-expansion-panel-header-description{
  font-family: 'Open Sans';
}
.custom-angular-editor,.custom-editor {
  .angular-editor-wrapper{
    .angular-editor-textarea{
      padding-left: unset !important;
    }
  }
}
.a-btn span {
  font-weight: 700;
  font-size: 14px;
}
.custom-like {
  margin-top:5px;
  font-weight: 700;
  font-size: 14px;
}
.portfolio-label {
  font-weight: 700;
  font-family: 'Open Sans';
}
.custom-photo-container{
  width:215px !important
}
.custom-div {
  text-align:center !important;
}
.custom-photo-container .close {
  position: relative;
  top: 25px;
  right: 10px;
  z-index: 100;
  color: #111111;
}
.custom-photo-container .close:hover{
  color: red;
  cursor: pointer;
}
.card-register-membership label {
  cursor: pointer;
}
textarea.form-control {
  max-width: 100%;
  padding: 10px !important;
  resize: none;
  border: none;
  border: 1px solid #E3E3E3 !important;
  border-radius: 5px !important;
  line-height: 1.5 !important;
  font-size: 14px !important;
}
.select-css {
  display: block;
  font-size: 0.8571em;;
  font-weight: 500;
  color: #181F29;
  line-height: 1.8;
  padding: 10px 18px 10px 18px;
  width: 100%;
  max-width: 100%;
  box-sizing: border-box;
  margin: 0;
  border: 1px solid #2F3C4F;
  box-shadow: 0 1px 0 1px rgba(0, 0, 0, 0.04);
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-color: #FFFFFF;
}


/* Hide arrow icon in IE browsers */
.select-css::-ms-expand {
  display: none;
}
/* Hover style */
.select-css:hover {
  color: #181F29;;
}
/* Focus style */
.select-css:focus {
  /* It'd be nice to use -webkit-focus-ring-color here but it doesn't work on box-shadow */
  box-shadow: 0 0 1px 1px #4AA0FF;
  box-shadow: 0 0 0 1px -moz-mac-focusring;
  color: #181F29;
  outline: none;
  border: 2px solid #4AA0FF !important;
}

/* Set options to normal weight */
.select-css option {
  font-weight:normal;
  font-family:'Open Sans';
  color: #181F29;;
}



.select-css:disabled:hover, .select-css[aria-disabled=true] {
  color: #181F29;
}
.radian-update-search{
  margin-bottom: 30px;
}
.form-control:focus{
  box-shadow: 2px 2px 15px 0px #231F20 !important;
}
.angular-editor-textarea{
  border:none !important;
}
.success {
  background-color: #dff0d8;
  color: #3c763d;
  border: 1px solid #d6e9c6;
  padding: 20px !important;
  .mat-focus-indicator.mat-button.mat-button-base{
    color:#3c763d;
    border: 1px solid #d6e9c6;
  }
}
.error {
  background-color:#F8D7DA;
  color:#a94442;
  border: 1px solid #a94442;
  padding: 20px !important;
  .mat-focus-indicator.mat-button.mat-button-base{
    color:#a94442;
    border:1px solid #a94442;
  }
}
.info {
  background-color: #dff0d8;
  color: #3c763d;
  border: 1px solid #d6e9c6;
  padding: 20px !important;
  .mat-focus-indicator.mat-button.mat-button-base{
    color:#3c763d;
    border: 1px solid #d6e9c6;
  }
}
.info-link {
  background-color: #dff0d8;
  color: #3c763d;
  border: 1px solid #d6e9c6;
  padding: 20px !important;
  .mat-focus-indicator.mat-button.mat-button-base{
    color:#3c763d;
    border: 1px solid #d6e9c6;
  }
}
.evt-detail .angular-editor-textarea:after{
  background-color: unset !important;
}
.image-popup .mat-dialog-container {
  padding: 8px;
  height: fit-content;
  width: fit-content;
}
.carousel-control-prev-icon{
  background-image: url('https://apufpel.com.br/assets/img/seta_prim.png')
}
.carousel-control-next-icon{
 background-image: url('https://apufpel.com.br/assets/img/seta_ult.png')
}
.carousel-control-prev, .carousel-control-next {
  opacity: unset !important;
}
.carousel-inner .carousel-item img {
  max-height: 534px;
  max-width: 756px;
}
.section {
  min-height: 563px;
}
.tooltip { pointer-events: none; }
.video a {
  position: absolute;
  display: block;
  background: url(http://www.slatecube.com/images/play-btn.png);
  height: 50px;
  width: 50px;
  top: 105px;
  left: 99px;
  background-size: 50px 50px;
  background-repeat: no-repeat;
}
