
<nav class="navbar navbar-expand-lg bg-primary fixed-top navbar-transparent"
color-on-scroll="500" appBlockCopy>
  <!-- LOGO -->
  <div class="logo"><a [routerLink]="['/home']"><img src="assets/img/radian/logoBigTransparent.png" /></a></div>
  <!-- NAVIGATION MENU -->
  <ul class="nav-links" [ngClass]="isLoggedIn?'custom-nav-link':''">
    <!-- USING CHECKBOX HACK -->
    <input type="checkbox" id="checkbox_toggle" />
    <label for="checkbox_toggle" class="hamburger">&#9776;</label>
    <!-- NAVIGATION MENUS -->
    <div class="menu">
      <li class="nav-item">
        <div class="dropdown button-dropdown">
          <div ngbDropdown>
            <a class="nav-link dropdown-toggle" ngbDropdownToggle>
              <!-- <i class="now-ui-icons business_bulb-63"></i> -->
              <p>About Hunar</p>
            </a>
            <div ngbDropdownMenu>
              <a class="nav-link dropdown-item" [routerLink]="['/our-purpose']"
               routerLinkActive="active"><p>Our Purpose</p></a>

              <a class="nav-link dropdown-item" [routerLink]="['/our-process']"
              routerLinkActive="active"><p>Our Process</p></a>
            </div>
          </div>
        </div>
      </li>
      <li class="nav-item" *ngIf="!isLoggedIn">
        <a class="nav-link" [routerLink]="['/account/signup']" routerLinkActive="active">
          <!-- <i class="now-ui-icons tech_mobile"></i> -->
          <p>Join Us</p>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/updates']" routerLinkActive="active">
          <!-- <i class="now-ui-icons users_single-02"></i> -->
          <p>Events</p>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/search']" routerLinkActive="active">
          <!-- <i class="now-ui-icons users_single-02"></i> -->
          <p>Search</p>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/conversations']" routerLinkActive="">
          <!-- <i class="now-ui-icons users_single-02"></i> -->
          <p>Converstations</p>
        </a>
      </li>
      <li class="nav-item" *ngIf="isLoggedIn">
        <div class="dropdown button-dropdown nav-link">
          <div ngbDropdown>
            <a ngbDropdownToggle routerLinkActive="active" class="custom-link nav-link">
              <p>{{currentUser?.firstName }} {{currentUser?.lastName}}</p>
            </a>
            <div ngbDropdownMenu class="dropdown-menu dropdown-menu-right">
              <a class="nav-link dropdown-item" [routerLink]="['/member/hunar_view']"><p>My Profiles</p></a>
              <a class="nav-link dropdown-item" [routerLink]="['/member/portfolio_view']"><p>My Portfolios</p></a>
              <a class="nav-link dropdown-item" [routerLink]="['/member/event_view']" *ngIf="currentUser?.membershipDuration!=='Basic'"><p>My Events</p></a>
              <a class="nav-link dropdown-item" [routerLink]="['/member/my_account']"><p>My Account</p></a>
              <a class="nav-link dropdown-item" [routerLink]="['/member/setting_view']"><p>Settings</p></a>
              <a class="nav-link dropdown-item" (click)="logout()"><p>Logout</p></a>
            </div>
          </div>
        </div>
      </li>
      <li class="nav-item" (click)="openDialog()" *ngIf="!isLoggedIn">
        <a class="nav-link nav_custom">
          <!-- <i class="now-ui-icons users_circle-08"></i> -->
          <p>Login</p>
        </a>
      </li>
    </div>
  </ul>
</nav>
