// .container-fluid a{
//     margin-left: -16px;
// }
.navbar-translate img{
    max-height: 64px !important
}
// nav.navbar.navbar-expand-lg.bg-primary.fixed-top.navbar-transparent {
//     opacity: 0.6;
// }
.nav_custom:hover{
    cursor: pointer;
}
.custom-nav-link .button-dropdown .custom-link {
    padding-top: 0;
}
